/* FONT FACES */
@font-face
{
    font-family: ikaros-sans;
    src: url("..\\fonts\\Ikaros sans\\Ikaros Regular.otf");
    font-weight: normal;
}
@font-face
{
    font-family: ikaros-sans-light;
    src: url("..\\fonts\\Ikaros sans\\Ikaros Light.otf");
    font-weight: lighter;
} 
    
    
@font-face
{
    font-family: 'Typold Book';
    font-style: normal;
    font-weight: normal;
    src: local('Typold Book'), url('..\\fonts\\Typold\\The Northern Block Ltd - Typold Book.woff') format('woff');
}
    
   
/* Colors */

:root
{
    --pink-color : #c9108c;
    --blue-color : #3636b3;
    --background-black : #08080a;
    --dark-grey :  #393939;
    --light-grey : #cfcfcf;

}

/*NAV BAR STARTS */
.nav-inner-content ul{
  list-style-type: none;
}
nav
{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 3;
}
.nav-after-image, nav::after
{
    transform-origin: right;
    position: fixed;
    height: 100%;
    margin: 0;
    top: 0;
    right: 0;
    width: 80vw;
    transform: scaleX(0);
}
nav::after
{
    content: "";
    background-color: var(--pink-color) ;
    transition: transform .6s cubic-bezier(.535, .005, 0, 1) .2s;
    z-index: 10;  
}
.nav-after-image
{
    background-color: var(--dark-grey);
    transition: transform .6s cubic-bezier(.535, .005, 0, 1) .1s;
    z-index: 11;
}
.nav-open .nav-after-image
{
    transform: scaleX(1);
    transition: transform .7s cubic-bezier(.535, .005, 0, 1) .2s;
}
.nav-open::after
{
    transform: scaleX(1);
    transition: transform .7s cubic-bezier(.535, .005, 0, 1) .1s;
}
.nav-inner-content
{
  margin: 20px 20px;
  position: fixed;
  height: 100%;
  opacity: 0;
  transition: opacity .2s ease-in-out .2s;
  z-index: 12;
  right: 0;
  text-align: right;
  width: calc(80% - 40px);
    
}
.nav-open .nav-inner-content
{
    opacity: 1;
}
#hamburger
{
  cursor: pointer;
  position: absolute;
  top:40px;
  right: 40px;
  padding: 10px;
  transition: all .2s ease-in ;
  z-index: 2;
}
#hamburger:hover
{
  background-color: #fff1;
}
#hamburger > div
{
  width: 24px;
  height: 2px;
  margin: 5px;
  background-color: #fff;
  transition: transform 200ms ease-in;
  transform-origin: left;
}
#hamburger:hover :nth-child(1), #hamburger:hover :nth-child(3)
{
  transform: scaleX(1) ;
}
#hamburger :nth-child(1)
{
  transform: scaleX(.8) ;
}
#hamburger :nth-child(3)
{
  transform: scaleX(.7) ;
}
.nav-links
{
  position: absolute;
    right: 150px;
    top: 40vh;
    font-size: 43px;
    font-family: 'Typold book';
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 6px;
    transform: translateY(-20%);
}
.nav-links a{
  color:white;
}
.nav-links a:hover{
  color:#c9108c;
}
.nav-links li {
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.nav-links  li:hover
{
  color:var(--pink-color);
}
@media (max-width:700px)
{
  .nav-after-image, nav::after
  {
    width: 100%;
  }
  .nav-links
  {
    right: 30px;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: normal;
  }
  .nav-links >li
  {
    padding: 4px;
    margin: 1px;
  }
  #hamburger
  {
    top: 20px;
    right: 20px;
  }
  .nav-inner-content
  {
    width: 100%;
    margin-top: 0;
  }
}
.cross
{
    width: 100px;
    height: 100px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    opacity: 0;
    transition: opacity 300ms ease-out 600ms;
}
.nav-open .cross
{
  opacity: 1;
}
.cross div
{
  height: 2px;
  width: 30px;
  background-color: #fff;
}
.cross .cross-l1 
{

  transform: rotate(45deg);
}
.cross .cross-l2
{
  transform: translateY(-2px) rotate(-45deg);
}
.cross .cross-l1::after,  .cross .cross-l2::after
{
    display: block;
    background-color: var(--pink-color);
    width: 30px;
    height: 2px;
    content: "";
}
.cross .cross-l1::after
{
 transform-origin: right;
 transform: scaleX(0);
 transition: transform 200ms ease-in-out 200ms;
}
.cross .cross-l2::after
{
 transform-origin: left;
 transform: scaleX(0);
 transition: transform 200ms ease-in-out;
}
.cross:hover .cross-l1::after 
{
 transform: scaleX(1);
 transition: transform 200ms ease-in-out 200ms;
}
.cross:hover .cross-l2::after 
{
 transform: scaleX(1);
}
@media (max-width:700px)
{
  .cross
  {
    transform : scale(0.7) translateY(-20%);
  }
}
/* NAVEBAR ENDS */

/* event page code start*/
html{
  scroll-behavior: smooth;
}
body{
    background-color: #08080a;
}
.event-word{
    color:#fff;
}
.heading{
    color:#fff;
    font-size: 400%;;
}
a .row .events-card:hover{
    z-index: 1;
    cursor: pointer;
}
.bg-light{
    background-color: transparent !important;
}
.btn{
    outline: none;
}
.btn a:hover{
    color: #3636b3;
}
.btn .active:hover{
    color:#fff;
}
.active a{
    color:#fff !important;
}
.btn a{
    color:grey;
}

/*FOOTER STARTS*/
#footer{
    background: #08080a;
    color: white;
    max-width: 100%;
  }
  .colorChange{
    color: rgba(223, 217, 221, 0.7);;
  }
  #footer-list{
    list-style: none;
  }
  .removedecor{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: grey;
    text-decoration: none;
  }
  @media(max-width:800px)
  {
    .removedecor{
        position: relative;
        top: 60px;
        right: 90px;
  
    }
    #rh-footer{
        position: relative;
        right: 10px;
    }
    .facebookLogo{
      margin-left: 0px ;
      position: relative;
    }
    .instagramLogo{
      position: relative;
      top: -10px;
    }
    .linkedinLogo{
      position: relative;
      top: 45px;
      right: 70px;
    }
    .iconList{
      display: flex;
      flex-direction: column;
      height:300px;
    }
  }
  @media(max-width:405px){
     h2{
        font-size: 23px;
    }
  } 
  @media(max-width:650px){ 
    .facebookLogo{
      position: relative;
      right:380px;
      top: 120px;
    }
    .linkedinLogo{
      position: relative;
      right:380px;
      top: 120px;
    }
    .instagramLogo{
      position: relative;
      right:260px;
      top: 10px;
    }
  }
  @media(max-width:600px){
    .facebookLogo{
      position: relative;
      right:380px;
      top: 120px;
    }
    .linkedinLogo{
      position: relative;
      right:440px;
      top: 120px;
    }
    .instagramLogo{
      position: relative;
      right:260px;
      top: 10px;
    }
  }
    @media(max-width:500px){
      .facebookLogo{
        position: relative;
        right:330px;
        top: 120px;
      }
      .linkedinLogo{
        position: relative;
        right:380px;
        top: 120px;
      }
      .instagramLogo{
        position: relative;
        right:220px;
        top: 10px;
      }
    }
  @media(max-width: 450px)
  {
    .facebookLogo{
      position: relative;
      right:320px;
      top: 120px;
    }
    .linkedinLogo{
      position: relative;
      right:360px;
      top: 120px;
    }
    .instagramLogo{
      position: relative;
      right:220px;
      top: 10px;
    }
  }
  @media(max-width: 380px)
  {
    .facebookLogo{
      position: relative;
      right:300px;
      top: 120px;
    }
    .instagramLogo{
      position: relative;
      right:200px;
      top: 10px;
    }
    .linkedinLogo{
      position: relative;
      right:320px;
      top: 120px;
    }
  }
  /*FOOTER ENDS*/


  /* SCROLL TO TOP STARTS */

  #back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: #08080a;
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

/* SCROLL TO TOP ENDS */

/* EVENTS INFO STARTS */

#closeButton {
  position: absolute;
  top: 5px;
  right: 0;
  background-color: blue;
  opacity: 1;
  border: none;
  color: black;
  visibility: hidden;
}
#back-div{
  overflow: scroll;
  position: fixed;
  top:0;
  left:0;
  visibility: hidden;
  margin: 5px 5px 5px 5px;
  background-color: rgba(128,128,128,0.8);
  height: 100%;
  width: 100%;   
}

/* EVENTS INFO ENDS */


/* STOP SCROLL STARTS */

.stop-scrolling { 
  height: 100%; 
  overflow: hidden; 
} 

/* STOP SCROLL ENDS */