/* FONT FACES */
@font-face
{
    font-family: ikaros-sans;
    src: url("..\\fonts\\Ikaros sans\\Ikaros Regular.otf");
    font-weight: normal;
}
@font-face
{
    font-family: ikaros-sans-light;
    src: url("..\\fonts\\Ikaros sans\\Ikaros Light.otf");
    font-weight: lighter;
} 

@font-face
{
    font-family: 'nexa';
    src: url('..\\fonts\\Nexa\\NexaLight.otf');
}
 
    
@font-face
{
    font-family: 'Typold Book';
    font-style: normal;
    font-weight: normal;
    src: local('Typold Book'), url('..\\fonts\\Typold\\The Northern Block Ltd - Typold Book.woff') format('woff');
}
    
   
/* Colors */

:root
{
    --pink-color : #c9108c;
    --blue-color : #3636b3;
    --background-black : #08080a;
    --dark-grey :  #393939;
    --light-grey : #cfcfcf;

}

/* Styles  */

/* Hero Section */
*{
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
   background-color: #111; 
}

.hero-sec
{
    height: 100vh;
    width: 100vw;
}

.hero-sec::before
{ 
  top:0;
  left:0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("..\\images\\hero-section-bg.jpg");
  background-size: cover;
  background-position: bottom;
  -webkit-filter: brightness(17%);
          filter: brightness(17%); 
 } 

 .hero-sec .logo
 {
  position: absolute;
  width: 100px;
  left: 4vw;
  top: 4vw;
 }

.hero-content
{
    position: relative;
    color: white;
    top:50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-column-align: center;
        justify-items: center;
}
.hero-sec h1
{
    font-family: 'ikaros-sans';
    font-size: 80px;
    font-weight: 300; 
    margin-bottom: 15px;
}

.hero-sec h1 span { color : var(--pink-color)}

.hero-sec p
{
    font-family: "typold book";
    font-size: 22px;
}

/* Hero section count down */
.hero-content .countdown
{
  line-height: 50px;
  margin-top: 137px;
  margin-left: -20px;
  margin-bottom: -129px;
}

.cd-line-1, .cd-line-3
{
  font-family: 'ikaros-sans-light';
  font-size: 1.6em;
  font-weight: lighter;
}

.cd-line-1 { margin-left:5px;} 
.cd-line-2
{
    font-family: 'ikaros-sans';
    font-size: 2.3em;
    font-weight: 300;
    letter-spacing: 3.5px;
}
.cd-line-3 {margin-right: 20px; text-align: right;}


#rectangle-cd
{
    position: absolute;
    z-index: -1;
    width: 174px;
    height: 30px;
    right: 102px;
    top: 209px;
    background-color: var(--dark-grey);
}

.splitter-line
{
    height: 3px;
    width: 575px;
    background-color: var(--light-grey);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate(-50%,-50%) rotate(-66deg);
            transform: translate(-50%,-50%) rotate(-66deg);
}

/* HERO SECTION MEDIA QUERIES  */

@media(max-width:600px)
{
  .hero-sec .logo
  {
    width:70px;
  }

  .splitter-line{display: none;}
  
  .hero-content{
    font-size:10px;
    display: block;
    top:0;
    height: 90vh;
    -webkit-transform: unset;
            transform: unset;;
  }
  #text
  {
    margin: 0!important;;
    display: none;
  }

  .left
  {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }


  .cd-line-1,.cd-line-3
  {
    margin: 0;
    text-align: left;
  }
  .cd-line-2
  {
    letter-spacing: 0.5px;
  }

  .hero-content .countdown{
    line-height: normal;
    margin: auto;

    position: absolute;
    bottom: 0;
    width: 312px;
    left: 50%;
    -webkit-transform: translate(-50%,-70%);
            transform: translate(-50%,-70%);
  }
  #rectangle-cd
  {
    display: none;
  }


}

/*TOP ANIMATION STARTS*/

#logo {
    /* position: relative;
    left:4%;
    top:-40%; */
    /*-webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); */
    -webkit-animation: fill 0.5s ease forwards 2s;
            animation: fill 0.5s ease forwards 2s;
            /*SHADOW OF THE TEXT STARTS*/    
            -webkit-filter: drop-shadow( 0px 0px 40px white);
            filter: drop-shadow( 0px 0px 40px white)
            /*SHADOW OF THE TEXT ENDS*/  
  }
  
  #logo path:nth-child(1) {
    stroke-dasharray: 400;
    stroke-dashoffset:400;
    -webkit-animation: line-anim 4s ease forwards;
            animation: line-anim 4s ease forwards;
  }

   #text-2 {/*
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); */
    -webkit-animation: fill1 0.5s ease forwards 2s;
            animation: fill1 0.5s ease forwards 2s;
            /*SHADOW OF THE TEXT STARTS*/    
            -webkit-filter: drop-shadow( 0px 0px 40px #c9108c);
            filter: drop-shadow( 0px 0px 40px #c9108c)
            /*SHADOW OF THE TEXT ENDS*/  
  }
  
  #text-2 path:nth-child(1) {
    stroke-dasharray: 400;
    stroke-dashoffset:400;
    -webkit-animation: line-anim 4s ease forwards;
            animation: line-anim 4s ease forwards;
  }
  
  @-webkit-keyframes line-anim {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes line-anim {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes fill {
    from {
      fill: transparent;
    }
    to {
      fill: white;
    }
  }
  
  @keyframes fill {
    from {
      fill: transparent;
    }
    to {
      fill: white;
    }
  }

  @-webkit-keyframes fill1 {
    from {
      fill: transparent;
    }
    to {
      fill: #c9108c;
    }
  }
  
  @keyframes fill1 {
    from {
      fill: transparent;
    }
    to {
      fill: #c9108c;
    }
  }

  /*GLOW EFFECTS STARTS*/

  .pulse::before {
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: neon-pulse;
            animation-name: neon-pulse;
  }
  /*GLOW EFFECT ENDS */
  @-webkit-keyframes neon-pulse {
    50% {
      opacity: 0;
    }
  }
  
  @keyframes neon-pulse {
    50% {
      opacity: 0;
    }
  }  

/*TOP ANIMATION ENDS*/

#text{
    /*position: relative;
    left:-60%;
    top:50%*/
    margin-left:7%; 
} 

/* ABOUT US */



.about-us-flex
{
  color: white ; 
  padding:8% 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0;
}

.about-us-text
{
  width: 50%;
}

.about-us-text h1
{
  color: #fff;
  font-family: 'Ikaros-sans';
  margin-bottom: 30px!important;
  padding-bottom: 0;
}

.about-us-text p
{
  font-family: 'nexa';
  font-size: 16px;
  line-height:30px;
  padding-right:3vw;
}

span.colorlib-counter.js-counter::after {
  content: "+";
}

#counterk::after
{
  content: 'K+';
}

@media(max-width:600px)
{
  .about-us-flex
  {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right:6vw; 
    margin: 100px 0;
  }
  .about-us-text
  {
    width:unset;
  }
  .about-us-text p
  {
    font-size: 15px;
    line-height: 26px;
  }

  #colorlib-counter
  {
    padding: 0!important;
  }

  .colorlib-narrow-content .row
  {
    margin-left: 10px!important;
  }

 .colorlib-narrow-content .row >div
  {
    width:50% !important;
  }
  .colorlib-counters .colorlib-counter
  {
    font-size: 32px!important;
    margin-bottom: .1em!important;
  }
  .colorlib-counters .colorlib-counter-label
  {
    font-size: 12px!important;
  }
}

.images img{
    height: auto;
    width: 50%;
    position: relative;
    left:80%;
    top:-75%
}

#more{
  display: none;
}

.row button{
  background-color:#c9108c ;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 5px;
}

/* FootFall */

#colorlib-counter {
  position: relative;
  top:100%;
  clear: both; 
  margin-bottom: 2em; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 150px;
  margin-bottom: 0;
}

.colorlib-counters {
  padding: 1em 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center; }
  .colorlib-counters .overlay {
    z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  /* background: rgba(0, 0, 0, 0.4);*/ }
  .colorlib-counters .icon {
    width: 100px;
    height: 100px;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px; }
    .colorlib-counters .icon i {
      display: table-cell;
      vertical-align: middle;
      width: 100px;
      height: 100px;
      font-size: 50px;
      color: #2c98f0;
      background: #fff;
      border-radius: 50%; }
  .colorlib-counters .counter-wrap {
    border: 1px solid red !important; }
  .colorlib-counters .colorlib-counter {
    font-size: 40px;
    display: block;
    color:var(--pink-color);
    font-family: "Typold book", Arial, sans-serif;
    width: 100%;
    font-weight: 700;
    margin-bottom: .3em; }
  .colorlib-counters .colorlib-counter-label {
    color: rgba(223, 217, 221, 0.7);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 5px;
    display: block; }

    /*FOOTFALL ENDS*/

    /* OUR EVENTS starts */
#headingText{
  left: 40%;
}
.eventsHeading{
  /* color: rgba(223, 217, 221, 0.7); */
  color:#c9108c; 
  margin-top: 60px ;
  margin-bottom: 60px;
}
.eventsIntro{
  color: rgba(223, 217, 221, 0.7);
  max-width: 40%;
  font-size: 25px;
  margin-left: 50px;
}
.goToEvents{
  margin-top: 50px;  
}
.photosAndContents{
  margin-top: auto;
}

#buttonGoToEvents{
  left: 60%; 
}
#redButton:hover{
    -webkit-filter: grayscale(100%); 
  filter: grayscale(50%);
  
      -webkit-transform: translate(-10px, -10px);
  
              transform: translate(-10px, -10px);
      box-shadow: 15px 15px 8px darkslategray;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    
}
#redButton:active {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  box-shadow: 2px 2px 3px darkslategray;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#events-gallery img{
  box-shadow: 1px 1px 2px black, 0 0 16px grey, 0 0 5px grey;
}
.events-row-2{
  height:50%;
}
.events-row-3{
  height:100%;
}


@media(max-width:520px)
{
   .eventsHeading{
     position: relative;
     left:-50px;
   }
   .eventsIntro{
     margin-left: 20px;
      width: 300px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      /* flex-wrap: nowrap;*/ 
   }
   #events-gallery{
     /* width:0%; */
     padding-left: 30px;
   }
   #redButton{
     position: relative;
     right: 30px;
   }
}
@media(max-width:380px){
   .eventsIntro{
       margin-left: 0px;
       padding-left: 30px;
       max-width: 200%;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-flex: 2;
           -ms-flex-positive: 2;
               flex-grow: 2;
   }
   #events-gallery{
     display: none;
   }
   #redButton{
     /* padding-right: 50px; */
     position: relative;
     /* right: 40px;  */
     right: 100px;
   }
}

.event-container
{
  margin: 200px 6vw ;
  margin-top:100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.image-container
{
  width: 50%;
  position: relative;
  padding-right:30px;
}

.image-container img{
  box-shadow: #00000040 0px 0px 11px 10px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 90%;
  
}

.event-text
{
  color: #dedede;
  padding-left: 30px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.event-text .event-button
{
  padding: 5px 30px;
  background-color: #d81597;
  border: none;
  font-family: nexa;
  padding-top: 8px;
  font-weight: bold;
  color: #dedede;
  font-size : 14px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 140px;
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.event-text .event-button:hover
{
  box-shadow: #ffffff54 -3px 5px 12px -5px;
}

.event-text h2
{
  color: white;
  font-size: 40px;
  font-family: 'ikaros-sans';
}

.event-text p
{
  font-size:16px;
  font-family: nexa;
  line-height: 30px;
}

.event-text .mobile-img 
{
  display: none;
}

@media (max-width: 600px)
{
  .event-text
  {
    width:100%;
    padding-left: 0;
  }
  .event-container
  {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 150px;
    position: relative;
  }
  .event-text .mobile-img
  {
    display: block;
    width: 100%; 
    margin-bottom: 30px;
    margin-top: 20px;
    position: relative;
  }

  .event-text .mobile-img img 
  {
    width: 100vw;
    margin-left: -6vw;
  }

  .event-text .mobile-img > div
  {
    position: absolute;
    padding:10px;
    background-color: var(--pink-color);
    color:white;
  }

  .image-container
  {
    display: none;
  }
  .event-text p 
  {
    line-height: 26px;
    font-size: 15px;
    margin-top:10px;
  }
  .event-text .event-button 
  {
    padding: 8px 40px;
    padding-top: 12px;
    width: 150px;
    right: 0;
    position: absolute;
    bottom: -40px;
  }

}


/* OUR EVENTS ends */

/* GALLERY STARTS */

.fit-image{
  height: 100%;
  width: 100%;
}
.grid{
  padding:5px;
}
.grid img{
  padding:7px 7px;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}
.grid img:hover{
  box-shadow:1px 1px 2px black, 0 0 46px blue, 0 0 5px darkblue;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

/*GALLERY ENDS*/

/*TEASRER CSS STARTS*/


.teaser-sec ul 
{
  width:100%;
  box-shadow: #00000070 7px 6px 20px 11px;
}

.teaser-sec
{
  
  text-align: center;
  position: relative;
  padding: 0vw 6vw;
}

.teaser-sec .video-container
{
  width:100%;
  box-shadow: #00000070 7px 6px 20px 11px;
  position: relative;
}

.vjs-afterglow-skin .vjs-big-play-button
{
  display: none!important;
}

.teaser-sec .overlay
{
  position: absolute;
  top:0;
  right: 6vw;
  left:6vw;
  height: 90%;
  
  cursor: pointer;
  /* background-color: #111; */
  -webkit-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
}
.teaser-sec .overlay-content
{
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  
}

.teaser-sec .overlay h1{
  font-family: "Ikaros-sans";
  font-size: 100px;
  color :white;
  opacity: 1;
  -webkit-transition: opacity .2s ease-in,
              -webkit-transform .3s ease-out;
  transition: opacity .2s ease-in,
              -webkit-transform .3s ease-out;
  transition: transform .3s ease-out,
              opacity .2s ease-in;
  transition: transform .3s ease-out,
              opacity .2s ease-in,
              -webkit-transform .3s ease-out;
}
.teaser-sec .overlay p
{
  opacity: 1;
  margin-top:-30px;
  -webkit-transition: opacity .2s ease-out .1s,
              -webkit-transform .3s ease-out .1s;
  transition: opacity .2s ease-out .1s,
              -webkit-transform .3s ease-out .1s;
  transition: transform .3s ease-out .1s,
              opacity .2s ease-out .1s;
  transition: transform .3s ease-out .1s,
              opacity .2s ease-out .1s,
              -webkit-transform .3s ease-out .1s;
}

.teaser-sec .overlay h1 span{
  color: var(--pink-color);
}

.teaser-sec .overlay.clicked .overlay-content h1
{
  -webkit-transform : translate(-100vw);
          transform : translate(-100vw);
  opacity: 0;
  -webkit-transition: opacity .2s ease-in .1s,
              -webkit-transform .4s ease-in .1s;
  transition: opacity .2s ease-in .1s,
              -webkit-transform .4s ease-in .1s;
  transition: transform .4s ease-in .1s,
              opacity .2s ease-in .1s;
  transition: transform .4s ease-in .1s,
              opacity .2s ease-in .1s,
              -webkit-transform .4s ease-in .1s;
}

.teaser-sec .overlay.clicked .overlay-content p
{
  -webkit-transform : translate(-100vw);
          transform : translate(-100vw);
  opacity: 0;
  -webkit-transition: opacity .2s ease-in,
              -webkit-transform .4s ease-in;
  transition: opacity .2s ease-in,
              -webkit-transform .4s ease-in;
  transition: transform .4s ease-in,
              opacity .2s ease-in;
  transition: transform .4s ease-in,
              opacity .2s ease-in,
              -webkit-transform .4s ease-in;
}

.teaser-sec .overlay.clicked
{
  background-color: #00000000;
}

.teaser-sec .overlay.animated
{
  display: none;
}

.video-list
{
  position: relative;
  overflow-x: scroll;
}
.video-list::-webkit-scrollbar
{
  display: none;
}

.video-list-container
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
 
}

.video-thumb
{
  position: relative;
  height: 160px;
  /* border: 1px solid #fff; */
 
  margin: 20px;
  margin-left: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 300px;
  background-color: #393939;
  cursor: pointer;
  box-shadow: #00000070 3px 4px 10px 1px;
}

.video-thumb img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
}

.video-thumb h5
{
  color: white;
  font-size: 16px;
  font-family: Roboto;
  position: absolute;
  bottom: 15px;
  left: 20px;
  margin: 0;
  padding: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  font-size: 18px;
  font-weight: lighter;
}
.video-thumb:hover h5, .video-thumb.active-video h5
{
  opacity: 1;
}



.video-thumb.active-video h5::before
{
  content: 'NOW PLAYING';
  color: var(--pink-color);
  font-size: 12px;
  display: block;
  font-weight: 900;
  
}

.video-thumb.active-video svg
{
  display: none;
}

.video-thumb .overlay
{
  height: 100%;
  width: 100%;
  background-color: #000;
  position: absolute;
  opacity: 0.2;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  left: 0;
  top: 0;
}

.video-thumb:hover .overlay ,.video-thumb:hover.active-video .overlay
{
  opacity: 0.5;
}

.video-thumb.active-video .overlay
{
  opacity: 0.6;
}


.video-thumb svg
{
  position: absolute;
  top:50%;
  left : 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width:  30px;
  color: #fff;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity : 1;
}

.video-thumb:hover svg , .video-thumb.active-video svg
{
  opacity: 0;
}

.right-arrow, .left-arrow
{
  position: absolute;
  right: 0;
  top: 0px;
  margin: 20px 0px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-linear-gradient(left, transparent, #333);
  background: linear-gradient(to right, transparent, #333);
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.left-arrow
{
  left: 0;
  right: unset;
  z-index: 2;
  background: -webkit-linear-gradient(right, transparent, #333);
  background: linear-gradient(to left, transparent, #333);
}


.right-arrow:hover, .left-arrow:hover
{
  opacity: 1;
}

.right-arrow svg, .left-arrow svg
{
  fill: white;
  height: 80px;
}

.left-arrow svg
{
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.deactive-btn
{
  display: none;
}



@media(max-width:500px)
{
  .teaser-sec .overlay h1
  {
    font-size: 30px;
  }

  .teaser-sec .overlay.animated
{
  display: block;
}
  
  .teaser-sec .overlay p
  {
    font-size: 10px;
    margin-top: -20px;;
  }
  .left-arrow, .right-arrow
  {
    display: none;
  }
  .video-thumb
  {
    width: 200px;
    height: 100px;
    margin: 20px 0;
    
  }
  .video-list
  {
    margin-right: -6vw;
  }

  .video-list-container:last-child
  {
    margin-right: 6vw;
  }

  .video-thumb svg
  {
    width: 20px;
  }
  
}
/*TEASER CSS ENDS*/


.review-container
{
  margin: 200px 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.review-container form
{
  width: 50%;
  text-align: center;
}

.review-text
{
  width: 40%;
}
.review-text h1
{
  font-size : 55px;
  font-family: "ikaros-sans";
  color: white;
  /* font-weight: bold; */ font-weight: 300;
  /* letter-spacing: 3px; */
  margin-bottom: 0px ;
  padding-bottom: 0;
  margin-left:-5px;
}

.review-text h3
{
  font-family: nexa;
  font-size: 25px;
  color: #8080808a;
  margin-top:8px;
}

.form-field
{
  background-color: transparent;
  color: #393939;
  border: none;
  width: 500px;
  border-bottom: 1px solid #80808033;
  padding-bottom: 12px;
  font-size: 16px;
  font-family: nexa;
  color: #ddd;
  margin: 20px 0;
  -webkit-transition: border .3s ease-in;
  transition: border .3s ease-in;
  margin-top: 0px;

}

.form-field::-webkit-input-placeholder
{
  color:#808080dd;
}

.form-field::-moz-placeholder
{
  color:#808080dd;
}

.form-field:-ms-input-placeholder
{
  color:#808080dd;
}

.form-field::placeholder
{
  color:#808080dd;
}


.form-field:focus
{
  outline: none;
  border-bottom-color: #c9108b62;
  
  -webkit-transition: border .5s ease-out;
  
  transition: border .5s ease-out;
}

.form-group
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.review-container button
{
  margin: 0 20px;
  width: 400px;
  padding: 8px;
  padding-top: 13px;
  border: none;
  color: #ffffff;
  background: #c9108ce0;
  font-weight: bold;
  font-family: nexa;
}

/* .submit:hover{
    color: #770032 !important;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
} */

.review-container.submitted form 
{
   -webkit-animation: fade-out 0.5s forwards ease-in-out;
           animation: fade-out 0.5s forwards ease-in-out;
}

.wb
{
  background-color: unset!important;
  padding-bottom: 100px;
  border-bottom: solid 2px #8080800f;
  padding-top: 100px;
  -webkit-transition: height .5s ease-in-out;
  transition:  height .5s ease-in-out;
}

#dev-btn::after
{
  content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    display: inline-block;
    border-top: 7px solid white;
    margin-bottom: 6px;
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.section-title #dev-btn:hover::after
{
  -webkit-transform: translateY(-10px) scale(1.2);
          transform: translateY(-10px) scale(1.2);
}

.section-title #dev-btn:active::after
{
  -webkit-transform: translateY(0px) scale(1.2);
          transform: translateY(0px) scale(1.2);
}


@-webkit-keyframes fade-out
{
  from{ opacity:1}
  to {opacity: 0;}
}


@keyframes fade-out
{
  from{ opacity:1}
  to {opacity: 0;}
}

@keyframes fade-out
{
  from{ opacity:0}
  to {opacity: 1;}
}

.review-container.submitted .review-text h1, .review-container.submitted .review-text h3
{
  -webkit-animation: fade-out 0.5s forwards ease-in-out;
          animation: fade-out 0.5s forwards ease-in-out;
}

.review-text .submitted-text
{
  -webkit-animation: fade-in 0.5s forwards ease-in-out;
          animation: fade-in 0.5s forwards ease-in-out;
}



@media (max-width: 1400px)
{
  .form-group
  {
    width:100%;
  }
  .form-field
  {
    width: 100%;
  }

  .review-container button
  {
    width: 80%;
  }

  .review-container form
  {
    padding-left: 20px;
  }
}


@media (max-width:600px)
{

  .review-text h1
  {
    font-size: 35px;
    margin-left:0;
  }

  .review-text h3
  {
    font-size: 18px;
  }

  .review-container
  {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    margin: 200px 6vw;
  }
  .review-text
  {
    width: 100%;
  }

  .review-container form 
  {
    width: 100%;
    padding-left: 0;
    margin-top:40px;
  }

  .form-field
  {
    font-size: 14px;
  }
  .form-group
  {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .review-container button 
  {
    font-size: 14px;
    margin: 0;
    margin-top:20px;
    width: 100%;
    
  }
}

.vjs-tech {
  height: 100%!important;
  width: unset;
}