<!DOCTYPE html>
<html>

<head>
    <title>Anugoonj'20 ContactUs</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/contactuspage.css" />
    <link rel="stylesheet" href="css/layout.css">
    <link href="css/responsive.css" rel="stylesheet">
    <meta name="viewport" CONTENT="width=device-width,initial-scale=1.0">
    <link async href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link async rel="stylesheet" href="css/events2.css" type="text/css">
    <link href="css/layout.css" type="text/css" rel="stylesheet">
</head>

<body onload="preloader()">
    <!--NAVBAR STARTED-->

    <nav class="pre-preloader preloader">
        <div class="nav-overlay"></div>
        <div class="nav-after-image"></div>
        <div class="nav-inner-content">
            <div class='cross' onclick="closeNav()">
                <div class="cross-l1"></div>
                <div class="cross-l2"></div>
            </div>
            <ul class='nav-links'>
                <li id="nav-l1"><a href="index.html">Home</a></li>
                <li id="nav-l2"><a href="events2.html">Events</a></li>
                <li id="nav-l3"><a href="schedule page.html">Schedule</a></li>
                <li id="nav-l4"><a href="sponsors-page.html">Sponsors</a></li>
                <li id="nav-l5"><a href="FAQpage.html">FAQs</a></li>
                <li id="nav-l6" class="active">Contact Us</li>
            </ul>
        </div>
        <div class="preloader-content">
            <div><span>Loading</span><span>.</span><span>.</span><span>.</span></div>
        </div>
    </nav>

    <!--NAVBAR END-->

    <!--MAIN CONTENT STARTED-->

    <section class="events">
        <div class="heading dark-heading" style="color:White">Contact <span>us</span></div>
        <div id='hamburger' onclick="openNav()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="slider-nav event-nav">
            <div id="dsw-link" class="slide-link active-slide-link">D<span style="display: block; text-align: center; margin-top:-20px">SW</span></div>
            <div id="media-link" class="slide-link">M<span
                    style="display: block; text-align: center; margin-top:-20px">edia</span></div>
            <div id="marketing-link" class="slide-link">M<span
                    style="display: block; text-align: center; margin-top:-20px">arketing</span></div>
            <div id="coordinators-link" class="slide-link">C
                <span style="display: block; text-align: center; margin-top:-20px">oordinators</span>
            </div>
        </div>

        <div class="slider-slides">

            <div id="media-slide" class="slide-event">
                <figure class="snip0044 yellow">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample47"/>
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 green">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample21"/>
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 blue">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample17.jpg" alt="sample17"/>
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
            </div>

            <div id="marketing-slide" class="slide-event">
                <figure class="snip0044 blue">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample47"/>
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 yellow">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample21"/>
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 green">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample17.jpg" alt="sample17"/>
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
            </div>

            <div id="coordinators-slide" class="slide-event">
                <figure class="snip0044 yellow">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample47"/>
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 red">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample21"/>
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 blue">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample47"/>
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
            </div>

            <div id="dsw-slide" class="slide-event active-slide">
                <figure class="snip0044 green">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample47"/>
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 yellow">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample47"/>
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 red">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample21"/>
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 blue">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample17"/>
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
            </div>
        </div>
    </section>

    <!--MAIN CONTENT END-->

    <!-- FOOTER STARTS -->
    <footer>
        <div class="footer-logo"><a href="index.html">Anugoonj</a></div>

        <ul class="mini-nav">
            <li><a href='index.html'>Home</a></li>
            <li><a href='events2.html'>Events</a></li>
            <li><a href='schedule page.html'>Schedule</a></li>
        </ul>

        <div class="Address-block">
            <h4>Address</h4>
            <p>Guru Gobind Singh Indraprastha University<br>Sector 16c, Dwarka, New Delhi - 110078 </p>
        </div>

        <div class="icon-tray">
            <h4 style="color:white">Follow Us :</h4>
            <a href="https://www.facebook.com/anugoonj2k1x/" target="_blank"><img src="images/icons/facebook.png"></a>
            <a href="https://www.instagram.com/anugoonj_official/" target="_blank"><img
                    src="images/icons/instagram.png"></Contact>
                <a href="https://www.youtube.com/channel/UCKxCKdQ_mjzeCnFDFw8jKkg" target="_blank"> <img
                        src="images/icons/youtube.png"></a>
        </div>

    </footer>
    <!-- FOOTER ENDS -->

    <script type="text/javascript" src="js/nav.js"></script>
    <script defer src="js/events.js"></script>
    <script defer src="js/lazysizes.min.js" async></script>
</body>


</html>