<!DOCTYPE html>
<html>

<head>
    <title>ContactUs | Anugoonj</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/contactuspage.css" />
    <link rel="stylesheet" href="css/layout.css">
    <link href="css/responsive.css" rel="stylesheet">
    <meta name="viewport" CONTENT="width=device-width,initial-scale=1.0">
    <link async href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link async rel="stylesheet" href="css/events2.css" type="text/css">
    <link href="css/layout.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body onload="preloader()">
    <!--NAVBAR STARTED-->

    <nav class="pre-preloader preloader">
        <div class="nav-overlay"></div>
        <div class="nav-after-image"></div>
        <div class="nav-inner-content">
            <div class='cross' onclick="window.history.back()">
                <div class="cross-l1"></div>
                <div class="cross-l2"></div>
            </div>
            <ul class='nav-links'>
                <li id="nav-l1"><a href="index.html">Home</a></li>
                <li id="nav-l2"><a href="events2.html">Events</a></li>
                <li id="nav-l3"><a href="schedule page.html">Schedule</a></li>
                <li id="nav-l4"><a href="sponsors-page.html">Sponsors</a></li>
                <li id="nav-l5"><a href="FAQpage.html">FAQs</a></li>
                <li id="nav-l6" class="active">Contact Us</li>
            </ul>
        </div>
        <div class="preloader-content">
            <div><span>Loading</span><span>.</span><span>.</span><span>.</span></div>
        </div>
    </nav>

    <!--NAVBAR END-->

    <!--MAIN CONTENT STARTED-->

    <section class="events">
        <div class="heading dark-heading" style="color:White">Contact <span>us</span></div>
        <a href="#nav">
            <div id='hamburger'>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </a>
        <div class="slider-nav event-nav">
            <div id="dsw-link" class="slide-link active-slide-link">D<span
                    style="display: block; text-align: center; margin-top:-20px">SW</span></div>
            <div id="media-link" class="slide-link">C<span
                    style="display: block; text-align: center; margin-top:-20px">ouncil</span></div>
            <div id="coordinators-link" class="slide-link">C<span
                    style="display: block; text-align: center; margin-top:-20px">ore</span>
            </div>
        </div>

        <div class="slider-slides">

            <div id="media-slide" class="slide-event">
                <div class="sub-heading" style="color:White">Lead<span>s</span>
                </div>
                <div style="display: flex; flex-wrap: wrap;">
                    <figure class="snip0044 yellow main">
                        <img style="height:328px; object-fit: cover; object-position: left;"
                            src="images/contact us/council/kulprit singh.jpeg" />
                        <h4>Kulprit Singh</h4>
                        <h6>President</h6>
                        <div class="icons">
                            <a href="https://www.instagram.com/kulpritsandhu4/" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:kulpritsandhu4@gmail.com" target="_blank"><i
                                    class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 green main">
                        <img src="images/contact us/council/Chirag Sehra1.jfif" />
                        <h4>Chirag Sehra</h4>
                        <h6>Vice President</h6>
                        <div class="icons">
                            <a href="https://www.facebook.com/chirag.sehra.7" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/chirag_sehra/" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:chiragsehra007@gmail.com" target="_blank"><i
                                    class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 blue main">
                        <img src="images/contact us/council/gitanjli singh (1).jpeg" alt="sample17" />
                        <h4>Geetanjli Singh</h4>
                        <h6>General Secretary</h6>
                        <div class="icons">
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a> -->
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                </div>

                <div class="sub-heading" style="color:White">
                    Member<span>s</span></div>
                <div style="display: flex; flex-wrap: wrap;">

                    <figure class="snip0044 yellow">
                        <img src="images/contact us/council/shagun tyagi.jpg" alt="sample47" />
                        <h4>Shagun Tyagi</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/shagun.tyagi.2028?epa=SEARCH_BOX" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/madness_unclaimed/?igshid=botkv42x9191"
                                target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="mailto:shagun.tyagi1196@gmail.com" target="_blank"><i
                                    class="fa fa-google-plus"></i></a>

                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>

                    <figure class="snip0044 green">
                        <img src="images/contact us/council/Vaibhav Goyal2.jpeg" alt="sample21" />
                        <h4>Vaibhav Goyal</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/vividvaibhav/?hl=en" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <!-- <a href="https://www.facebook.com/profile.php?id=100007442133086" target="_blank"><i
                                    class="fa fa-facebook"></i></a> -->
                            <a href="mailto:Vaibhav.goyal001@yahoo.com" target="_blank"><i
                                    class="fa fa-google-plus"></i></a>

                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 blue">
                        <img src="images/contact us/council/Barkha Singh2.jpg" alt="sample17" />
                        <h4>Barkha Singh</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
                            <a href="https://www.facebook.com/barkha.singh.79" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                            <!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
                            <a href="mailto:barkhasingh.1033@gmail.com" target="_blank"><i
                                    class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>

                    <figure class="snip0044 yellow">
                        <img src="images/contact us/council/saarthak kharbanda3.jpg" alt="sample47" />
                        <h4>Saarthak Kharbanda</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/saarthak-kharbanda-a3579aa7/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/saarthak_kharbanda/?hl=en" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="https://m.facebook.com/saarthak.kharbanda/" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="mailto:kharbandasaarthak@gmail.com" target="_blank"><i
                                    class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 green">
                        <img src="images/contact us/council/vishesh patpatia1.jpeg" alt="sample21" />
                        <h4>Vishesh Patpatia</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/vishesh-patpatia-439aaa118/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/visheshpatpatia/" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/vishesh.patpatia" target="
                        _blank"><i class="fa fa-facebook"></i></a>
                            <a href="mailto:visheshpatpatia@gmail.com" target="_blank"><i
                                    class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 blue">
                        <img src="images/contact us/council/vishwa pic1.jpg" alt="sample17" />
                        <h4>Vishwanath yadav</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/vishwanath-yadav-504412178/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/yaduvanshi.vishwanath" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/yaduvanshivishwanath/?hl=en" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:vishwanathyadav34@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>

                    <figure class="snip0044 yellow">
                        <img src="images/contact us/council/Anmol Anmol1.jpg" alt="sample47" />
                        <h4>Anmol</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a> -->
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="mailto:anmolnostoc@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 green">
                        <img src="images/contact us/council/shreya Wadhawan2.jpg" alt="sample21" />
                        <h4>Shreya Wadhawan</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a> -->
                            <a href="https://www.instagram.com/happiness_struck/?hl=en" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:shreyawadhawan5@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                        "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 blue">
                        <img src="images/contact us/council/sahil sharma1.jpeg" alt="sample17" />
                        <h4>sahil sharma</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/sahilsharma04/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/imsahilsharma04" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/sahilsharma.04/" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:ssahil203@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                "></i></a>

                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>

                    <figure class="snip0044 yellow">
                        <img src="images/contact us/council/Himani Khandelwal1.png" alt="sample47" />
                        <h4>Himani Khandelwal</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/himani-khandelwal-6a223368/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/himani.khandelwal.3572" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/hemani_khandelwal/?hl=en" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:himanikhandelwal1@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                        "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 green">
                        <img src="images/contact us/council/sparsh gahlawa2.jpg" alt="sample21" />
                        <h4>Sparsh Gahlawa</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a> -->
                            <a href="https://www.instagram.com/sparsh_gahlawat/?hl=en" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:sparshgahlawat@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                        "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 blue">
                        <img src="images/contact us/council/Kavita Verma1.jpg" alt="sample17" />
                        <h4>Kavita Verma</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/kavita-verma-703679183/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/kavita.verma.9480" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/kavu_verma/?igshid=jubdru9ylspe" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:kavita96verma@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 yellow">
                        <img src="images/contact us/council/Astik Mishra2.jpg" alt="sample47" />
                        <h4>Astik Mishra</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a>-->
                            <a href="https://www.facebook.com/astikmishra.bhardwaj" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/astik_mishra/?hl=en" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:astikmishra.bhardwaj@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                        "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>

                    <figure class="snip0044 green">
                        <img src="images/contact us/council/Arjun Mishra2.jpeg" alt="sample21" />
                        <h4>Arjun Mishra</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <a href="http://linkedin.com/in/arjunmishra8800645243" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/MrSamArjun" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/the_arjun_mishra/?hl=en" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:Arjundhbk@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                        "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 blue">
                        <img src="images/contact us/council/Amritesh Pachauri.jpg" alt="sample21" />
                        <h4>Amritesh Pachauri</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a> -->
                            <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-google-plus	
                                        "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>

                    <figure class="snip0044 yellow">
                        <img src="images/contact us/council/jatin.jpg" alt="sample17" />
                        <h4>jatin verma</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <a href="https://www.facebook.com/profile.php?id=100007442133086" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/grease.monkey99/" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href=" mailto:vermajatin620@gmai.com" target="_blank"><i class="fa fa-google-plus	
                                "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>

                    <figure class="snip0044 green">
                        <img src="images/contact us/council/anushka-agarwaal.jpeg" alt="sample47" />
                        <h4>Anushka Aggarwal</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a> -->
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="mailto:aggarwalanushka04@gmail.com" target="_blank"><i
                                    class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>

                    <figure class="snip0044 blue">
                        <img src="images/contact us/council/somyata-gupta.jpeg" alt="sample21" />
                        <h4>Somyata Gupta</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a> -->
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-google-plus	
                                "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 yellow">
                        <img src="images/contact us/council/sumayya.jpg" alt="sample17" />
                        <h4>Sumayya Fatima</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/sumayya-fatima-1153a1b3/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                            <!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
                            <a href="https://www.instagram.com/kittensandsmitten/" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:Sumayya39@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 green">
                        <img src="images/contact us/council/hardik arora1.jpeg" alt="sample17" />
                        <h4>hardik arora</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <a href="https://www.instagram.com/arorahardik10/?hl=en"><i class="fa fa-instagram"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-google-plus	
                                "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>

                </div>
            </div>

            <div id="coordinators-slide" class="slide-event">
                <figure class="snip0044 yellow">
                    <img src="images/contact us/core/Sagar dahiya.jpeg" alt="sample47" />
                    <h4>Sagar dahiya</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="https://www.instagram.com/sagardahiya297/" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100009329649267" target="_blank"><i
                                class="fa fa-facebook"></i></a>
                        <a href="mailto:sdee297@gmail.com" target="_blank"><i class="fa fa-google-plus"></i></a>

                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>

                <figure class="snip0044 green">
                    <img src="images/contact us/core/abhay pratap singh.jpeg" alt="sample21" />
                    <h4>abhay pratap singh</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="https://www.instagram.com/abhay__pratap__singh/" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                        <!-- <a href="#" target="_blank"><i
                                class="fa fa-facebook"></i></a> -->
                        <!-- <a href="#" target="_blank"><i
                                class="fa fa-google-plus"></i></a> -->

                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 blue">
                    <img src="images/contact us/core/Gauri Shokeen1.jpeg" alt="sample17" />
                    <h4>Gauri Shokeen</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="https://www.linkedin.com/in/gauri-shokeen-153611112/" target="_blank"><i
                                class="fa fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/gaurishokeen15" target="_blank"><i
                                class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/gauri_shokeen/" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                        <!-- <a href="#" target="_blank"><i
                                class="fa fa-google-plus"></i></a> -->
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>

                <figure class="snip0044 yellow">
                    <img src="images/contact us/core/Tushti Arya.jpeg" alt="sample47" />
                    <h4>Tushti Arya</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="https://www.linkedin.com/in/tushti-arya-b7a32b192/" target="_blank"><i
                                class="fa fa-linkedin"></i></a>
                        <!-- <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-instagram"></i></a> -->
                        <a href="mailto:tushtiarya01@gmail.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 green">
                    <img src="images/contact us/core/sohal gahlot1.jpeg" alt="sample21" />
                    <h4>sohal gahlot</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="https://www.linkedin.com/in/sohal-gahlot-4bb424190/" target="_blank"><i
                                class="fa fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/nakul.gahlot" target="
                    -blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/sohal_gahlot/" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                        <a href="mailto:sohalgahlot1215@gmail.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 blue">
                    <img src="images/contact us/core/shwetama khijani1.jpeg" alt="sample17" />
                    <h4>shweta makhijani</h4>
                    <h6>Member</h6>
                    <div class="icons">

                        <a href="https://www.instagram.com/shweta_max/" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                        <a href="https://www.facebook.com/shweta.makhijani.750" target="
                    -blank"><i class="fa fa-facebook"></i></a>
                        <a href="mailto:shwetamakhijani79@gmail.com" target="_blank"><i class="fa fa-google-plus	
                            "></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>

                <figure class="snip0044 yellow">
                    <img src="images/contact us/core/preksha gupta.jpeg" alt="sample47" />
                    <h4>preksha gupta</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="https://www.linkedin.com/in/preksha-gupta-031bb7190/" target="_blank"><i
                                class="fa fa-linkedin"></i></a>
                        <!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
                        <a href="https://www.instagram.com/prekshagupta14/" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                        <!-- <a href="#" target="_blank"><i class="fa fa-google-plus	
                            "></i></a> -->
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 green">
                    <img src="images/contact us/core/deekshaaa tiwari.jpeg" alt="sample21" />
                    <h4>deeksha tiwari</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="https://www.linkedin.com/in/deekshatiwari/" target="_blank"><i
                                class="fa fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/deeksha.tiwari.733" target="_blank"><i
                                class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/deekshaaatiwari/" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                        <!-- <a href="#" target="_blank"><i class="fa fa-google-plus	
                                    "></i></a> -->
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 blue">
                    <img style="height:270px; object-fit: cover; object-position: left;"
                        src="images/contact us/core/Mayank Sharma1.jpeg" alt="sample17" />
                    <h4>Mayank Sharma</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="https://www.linkedin.com/in/mayank-sharma-9256b0171/" target="_blank"><i
                                class="fa fa-linkedin"></i></a>
                        <!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
                        <a href="https://www.instagram.com/may_sharma28/" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                        <a href="mailto:iamsharma000@gmail.com" target="_blank"><i class="fa fa-google-plus	
                            "></i></a>

                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>

                <figure class="snip0044 yellow">
                    <img src="images/contact us/core/prabhav sharma.jpeg" alt="sample47" />
                    <h4>prabhav sharma</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="https://www.linkedin.com/in/prabhav-sharma-4b1571170/" target="_blank"><i
                                class="fa fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/prabhav.sharma.12" target="_blank"><i
                                class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/imprabhavsharma/" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                        <a href="mailto:prabhavsharma22@yahoo.in" target="_blank"><i class="fa fa-google-plus	
                            "></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 green">
                    <img src="images/contact us/core/Vineet Kumar Thakur.jpeg" alt="sample21" />
                    <h4>Vineet Kumar Thakur</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="https://www.linkedin.com/in/vineet-kumar-thakur-3499791a1/" target="_blank"><i
                                class="fa fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/vineet.thakur.kumar" target="_blank"><i
                                class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/thakur_vineetkumar/" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                        <a href="mailto:vineetkumarthakur9@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                    "></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 blue">
                    <img src="images/contact us/core/vats.bhaskar.jpeg" alt="sample17" />
                    <h4>vats bhaskar</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <!-- <a href="#" target="_blank"><i
                                class="fa fa-linkedin"></i></a>
                         <a href="#"><i class="fa fa-facebook"></i></a> -->
                        <!-- <a href="#" target="_blank"><i
                                class="fa fa-instagram"></i></a> -->
                        <a href="mailto:vats.bhaskar23@gmail.com" target="_blank"><i class="fa fa-google-plus	
                            "></i></a>

                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 yellow">
                    <img src="images/contact us/core/Parth kohli.jpeg" alt="sample47" />
                    <h4>Parth kohli</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="Parthkohli84@linkedin.in" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <!-- <a href="#" target="_blank"><i
                                class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i
                                class="fa fa-instagram"></i></a> -->
                        <a href="mailto:Parthkohli84@gmail.com" target="_blank"><i class="fa fa-google-plus	
                            "></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 green">
                    <img src="images/contact us/core/Durgesh Chauhan1.jpeg" alt="sample21" />
                    <h4>Durgesh Chauhan</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="https://www.linkedin.com/in/durgesh-chauhan-612645177/" target="_blank"><i
                                class="fa fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100006876675022" target="_blank"><i
                                class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/durgeshchauhan1710/" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                        <a href="mailto:durgeshchauhan1911@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                    "></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 blue">
                    <img src="images/contact us/core/mayank singh1.jpg" alt="sample21" />
                    <h4>mayank singh</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="https://www.linkedin.com/in/mayank-singh-7758bb186/" target="_blank"><i
                                class="fa fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/mikki1k998" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/mack_max98/" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                        <a href="mailto:mayank.meerut.india@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                    "></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 yellow">
                    <img src="images/contact us/core/anubhav.jpeg" alt="sample21" />
                    <h4>Anubhav Raj</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <!-- <a href="#" target="_blank"><i
                                class="fa fa-linkedin"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a> -->
                        <a href="https://www.instagram.com/anubhav1646/" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                        <a href="mailto:anubhraj06@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                    "></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
            </div>

            <div id="dsw-slide" class="slide-event active-slide">
                <figure class="snip0044 yellow">
                    <img src="images/contact us/Dsw/manpreet mam1.jpg" alt="sample21" />
                    <h4>Dr. Manpreet kaur Kang </h4>
                    <h6>Director</h6>
                    <div class="icons">
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <!-- <a href="https://www.facebook.com/manpreet.kang.3114" target="_blank"><i
                                class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a> -->
                        <a href="mailto:manpreetkang.ipu@gmail.com" target="_blank"><i
                                class="fa fa-google-plus"></i></a>

                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>

                <figure class="snip0044 green">
                    <img src="images/contact us/Dsw/GULSHAN SIR1.jpg" alt="sample47" />
                    <h4>Dr. Gulshan Kumar </h4>
                    <h6>Associate Director</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <!-- <a href="https://www.facebook.com/gulshan.dhamija.75" target="_blank"><i
                                class="fa fa-facebook"></i></a> -->
                        <!-- <a href="https://www.instagram.com/dhamija.gulshan/" target="_blank"><i
                                class="fa fa-instagram"></i></a> -->
                        <a href="mailto:dhamijagulshan76@gmail.com" target="_blank"></a> <i
                            class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>

                <figure class="snip0044 blue">
                    <img src="images/contact us/Dsw/Dr.anjali1.jpg" alt="sample47" />
                    <h4> Dr. Anjali Shokeen</h4>
                    <h6>Associate Director</h6>
                    <div class="icons">
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <!-- <a href="https://www.facebook.com/anjali.shokeen.37" target="_blank"><i
                                class="fa fa-facebook"></i></a> -->
                        <a href="mailto:anjali9@ipu.ac.in" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>

                <figure class="snip0044 yellow">
                    <img src="images/contact us/Dsw/Rajesh sharma2.jpeg" alt="sample21" />
                    <h4>Sh. Rajesh Sharma </h4>
                    <h6>Assistant Registar</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>

                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>

                <figure class="snip0044 green">
                    <img src="images/contact us/Dsw/Syed ali mujtaba.jpeg" alt="sample47" />
                    <h4>Syed ali mujtaba </h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>

                <figure class="snip0044 blue">
                    <img src="images/contact us/Dsw/Pawan Kumar Pandey1.jpeg" alt="sample47" />
                    <h4>Pawan Kumar Pandey</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 yellow">
                    <img src="images/contact us/Dsw/Rajnish Kumar Yadav1.jpeg" alt="sample47" />
                    <h4>Rajnish Kumar Yadav</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>

                <figure class="snip0044 green">
                    <img src="images/contact us/Dsw/Srikant1.jpeg" alt="sample47" />
                    <h4>Srikant</h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>

                <figure class="snip0044 blue">
                    <img src="images/contact us/Dsw/Naresh kumar1.jpeg" alt="sample21" />
                    <h4>Naresh kumar </h4>
                    <h6>Member</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>

                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>

            </div>
        </div>
    </section>

    <!--MAIN CONTENT END-->

    <!-- FOOTER STARTS -->
    <footer>
        <div class="footer-logo"><a href="index.html">Anugoonj</a></div>

        <ul class="mini-nav">
            <li><a href='/'>Home</a></li>
            <li><a href='events2.html'>Events</a></li>
            <li><a href="schedule page.html">Schedule</a></li>
        </ul>

        <div class="Address-block">
            <h4>Address</h4>
            <p>Guru Gobind Singh Indraprastha University<br>Sector 16c, Dwarka, New Delhi - 110078 </p>
        </div>

        <div class="icon-tray">
            <h4 style="color:white">Follow Us :</h4>
            <a href="https://www.facebook.com/anugoonj2k1x/" target="_blank"><img src="images/icons/facebook.png"></a>
            <a href="https://www.instagram.com/anugoonj_official/" target="_blank"><img
                    src="images/icons/instagram.png"></Contact>
                <a href="https://www.youtube.com/channel/UCKxCKdQ_mjzeCnFDFw8jKkg" target="_blank"> <img
                        src="images/icons/youtube.png"></a>
        </div>

    </footer>
    <!-- FOOTER ENDS -->

    <script type="text/javascript" src="js/nav.js"></script>
    <script defer src="js/events.js"></script>
    <script defer src="js/lazysizes.min.js" async></script>
</body>


</html>