<!DOCTYPE html>
<html>

<head>
    <title>Anugoonj'20 ContactUs</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/contactuspage.css" />
    <link rel="stylesheet" href="css/layout.css">
    <link href="css/responsive.css" rel="stylesheet">
    <meta name="viewport" CONTENT="width=device-width,initial-scale=1.0">
    <link async href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link async rel="stylesheet" href="css/events2.css" type="text/css">
    <link href="css/layout.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body onload="preloader()">
    <!--NAVBAR STARTED-->

    <nav class="pre-preloader preloader">
        <div class="nav-overlay"></div>
        <div class="nav-after-image"></div>
        <div class="nav-inner-content">
            <div class='cross' onclick="closeNav()">
                <div class="cross-l1"></div>
                <div class="cross-l2"></div>
            </div>
            <ul class='nav-links'>
                <li id="nav-l1"><a href="/">Home</a></li>
                <li id="nav-l2"><a href="events2.html">Events</a></li>
                <li id="nav-l3"><a href="projects_underconstruction.html">Schedule</a></li>
                <li id="nav-l4"><a href="projects_underconstruction.html">Sponsors</a></li>
                <li id="nav-l5"><a href="FAQpage.html">FAQs</a></li>
                <li id="nav-l6" class="active">Contact Us</li>
            </ul>
        </div>
        <div class="preloader-content">
            <div><span>Loading</span><span>.</span><span>.</span><span>.</span></div>
        </div>
    </nav>

    <!--NAVBAR END-->

    <!--MAIN CONTENT STARTED-->

    <section class="events">
        <div class="heading dark-heading" style="color:White">Contact <span>us</span></div>
        <div id='hamburger' onclick="openNav()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="slider-nav event-nav">
            <div id="dsw-link" class="slide-link active-slide-link">D<span
                    style="display: block; text-align: center; margin-top:-20px">SW</span></div>
            <div id="media-link" class="slide-link">C<span
                    style="display: block; text-align: center; margin-top:-20px">ouncil</span></div>
            <div id="coordinators-link" class="slide-link">C<span
                    style="display: block; text-align: center; margin-top:-20px">oordinators</span>
            </div>
        </div>

        <div class="slider-slides">

            <div id="media-slide" class="slide-event">
                <div class="sub-heading" style="color:White">Lead<span>s</span>
                </div>
                <div style="display: flex; flex-wrap: wrap;">
                    <figure class="snip0044 yellow main">
                        <img style="height:328px; object-fit: cover; object-position: left;"
                            src="images/contact us/kulprit singh.jpeg" />
                        <h4>Kulprit Singh</h4>
                        <h6>President</h6>
                        <div class="icons">
                            <a href="https://www.instagram.com/kulpritsandhu4/" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:kulpritsandhu4@gmail.com" target="_blank"><i
                                    class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 green main">
                        <img src="images/contact us/Chirag Sehra1.jfif" />
                        <h4>Chirag Sehra</h4>
                        <h6>Vice President</h6>
                        <div class="icons">
                            <a href="https://www.facebook.com/chirag.sehra.7" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/chirag_sehra/" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:chiragsehra007@gmail.com" target="_blank"><i
                                    class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 blue main">
                        <img src="images/contact us/gitanjli singh.jpeg" alt="sample17" />
                        <h4>Geetanjli Singh</h4>
                        <h6>General Secretary</h6>
                        <div class="icons">
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a> -->
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                </div>

                <div class="sub-heading" style="color:White">
                    Member<span>s</span></div>
                <div style="display: flex; flex-wrap: wrap;">

                    <figure class="snip0044 yellow">
                        <img src="images/contact us/shagun tyagi.jpg" alt="sample47" />
                        <h4>Shagun Tyagi</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/shagun.tyagi.2028?epa=SEARCH_BOX" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/madness_unclaimed/?igshid=botkv42x9191" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="mailto:shagun.tyagi1196@gmail.com" target="_blank"><i class="fa fa-google-plus"></i></a>

                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>

                    <figure class="snip0044 green">
                        <img src="images/contact us/Vaibhav Goyal2.jpeg" alt="sample21" />
                        <h4>Vaibhav Goyal</h4>
                        <h6>Member</h6>
                        <div class="icons">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/vividvaibhav/?hl=en" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <!-- <a href="https://www.facebook.com/profile.php?id=100007442133086" target="_blank"><i
                                    class="fa fa-facebook"></i></a> -->
                            <a href="mailto:Vaibhav.goyal001@yahoo.com" target="_blank"><i
                                    class="fa fa-google-plus"></i></a>

                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 blue">
                        <img src="images/contact us/Barkha Singh2.jpg" alt="sample17" />
                        <h4>Barkha Singh</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
                            <a href="https://www.facebook.com/barkha.singh.79" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                            <!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
                            <a href="mailto:barkhasingh.1033@gmail.com" target="_blank"><i
                                    class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>

                    <figure class="snip0044 yellow">
                        <img src="images/contact us/saarthak kharbanda3.jpg" alt="sample47" />
                        <h4>Saarthak Kharbanda</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/saarthak-kharbanda-a3579aa7/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/saarthak_kharbanda/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://m.facebook.com/saarthak.kharbanda/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="mailto:kharbandasaarthak@gmail.com" target="_blank"><i
                            class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 green">
                        <img src="images/contact us/vishesh patpatia1.jpeg" alt="sample21" />
                        <h4>Vishesh Patpatia</h4>
                        <h6>Member</h6>
                        <div class="icons">
                                <a href="https://www.linkedin.com/in/vishesh-patpatia-439aaa118/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a href="https://www.instagram.com/visheshpatpatia/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/vishesh.patpatia" target="
                        _blank"><i class="fa fa-facebook"></i></a>
                            <a href="mailto:visheshpatpatia@gmail.com" target="_blank"><i
                                    class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 blue">
                        <img src="images/contact us/vishwa pic1.jpg" alt="sample17" />
                        <h4>Vishwanath yadav</h4>
                        <h6>Member</h6>
                        <div class="icons">
                                <a href="https://www.linkedin.com/in/vishwanath-yadav-504412178/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a href="https://www.facebook.com/yaduvanshi.vishwanath" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/yaduvanshivishwanath/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="mailto:vishwanathyadav34@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>

                    <figure class="snip0044 yellow">
                        <img src="images/contact us/Anmol Anmol1.jpg" alt="sample47" />
                        <h4>Anmol</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a> -->
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="mailto:anmolnostoc@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 green">
                        <img src="images/contact us/shreya Wadhawan2.jpg" alt="sample21" />
                        <h4>Shreya Wadhawan</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a> -->
                            <a href="https://www.instagram.com/happiness_struck/?hl=en" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:shreyawadhawan5@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                        "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 blue">
                        <img src="images/contact us/sahil sharma1.jpeg" alt="sample17" />
                        <h4>sahil sharma</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/sahilsharma04/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/imsahilsharma04" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/sahilsharma.04/" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:ssahil203@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                "></i></a>

                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>

                    <figure class="snip0044 yellow">
                        <img src="images/contact us/Himani Khandelwal1.png" alt="sample47" />
                        <h4>Himani Khandelwal</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a> -->
                            <a href="https://www.instagram.com/hemani_khandelwal/?hl=en" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:himanikhandelwal1@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                        "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 green">
                        <img src="images/contact us/sparsh gahlawa2.jpg" alt="sample21" />
                        <h4>Sparsh Gahlawa</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a> -->
                            <a href="https://www.instagram.com/sparsh_gahlawat/?hl=en" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:sparshgahlawat@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                        "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 blue">
                        <img src="images/contact us/Kavita Verma1.jpg" alt="sample17" />
                        <h4>Kavita Verma</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a> -->
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="mailto:kavita96verma@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>
                    <figure class="snip0044 yellow">
                        <img src="images/contact us/Astik Mishra2.jpg" alt="sample47" />
                        <h4>Astik Mishra</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <!-- <a href="#"><i class="fa fa-linkedin"></i></a>-->
                            <a href="https://www.facebook.com/astikmishra.bhardwaj" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/astik_mishra/?hl=en" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:astikmishra.bhardwaj@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                        "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>

                    <figure class="snip0044 green">
                        <img src="images/contact us/Arjun Mishra2.jpeg" alt="sample21" />
                        <h4>Arjun Mishra</h4>
                        <h6>Member</h6>
                        <div class="icons">
                            <a href="http://linkedin.com/in/arjunmishra8800645243" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/MrSamArjun" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/the_arjun_mishra/?hl=en" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="mailto:Arjundhbk@gmail.com" target="_blank"><i class="fa fa-google-plus	
                                        "></i></a>
                        </div>
                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                    </figure>

                    <figure class="snip0044 blue">
                            <img src="images/contact us/jatin.jpg" alt="sample17" />
                            <h4>Jatin Verma</h4>
                            <h6>Member</h6>
                            <div class="icons">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                        </figure>

                    <figure class="snip0044 yellow">
                            <img src="images/contact us/anushka-agarwaal.jpeg" alt="sample47" />
                            <h4>Anushka Aggarwal</h4>
                            <h6>Member</h6>
                            <div class="icons">
                                <a href="https://m.facebook.com/profile.php?id=100023582151179&ref=content_filter" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="mailto:aggarwalanushka04@gmail.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                            </div>
                            <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                        </figure>
    
                        <figure class="snip0044 green">
                            <img src="images/contact us/somyata-gupta.jpeg" alt="sample21" />
                            <h4>Somyata Gupta</h4>
                            <h6>Member</h6>
                            <div class="icons">
                                <!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
                                <a href="https://www.facebook.com/GuptaSomyata" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/somyata.gupta/" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a href="mailto:somyatagupta@yahoo.in" target="_blank"><i class="fa fa-google-plus"></i></a>
                            </div>
                            <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                        </figure>
                        <figure class="snip0044 blue">
                            <img src="images/contact us/sumayya.jpg" alt="sample17" />
                            <h4>Sumayya Fatima</h4>
                            <h6>Member</h6>
                            <div class="icons">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                        </figure>
                        
                            <figure class="snip0044 yellow">
                                    <img src="images/contact us/Vaishnavi Rastogi.jpg" alt="sample21" />
                                    <h4>Vaishnavi Rastogi</h4>
                                    <h6>Member</h6>
                                    <div class="icons">
                                    <a href="mailto:vaishnavirastogi02@gmail.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                                </figure>

                                <figure class="snip0044 green">
                                        <img src="images/contact us/hardik arora1.jpeg" alt="sample21" />
                                        <h4>Hardik Arora</h4>
                                        <h6>Member</h6>
                                        <div class="icons">
                                        <!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
                                <!-- <i href="" target="_blank"><i class="fa fa-facebook"></i></a> -->
                                <a href="https://www.instagram.com/arorahardik10/" target="_blank"><i class="fa fa-instagram"></i></a>
                                <!-- <i href="" target="_blank"><i class="fa fa-google-plus"></i></a> -->
                                        </div>
                                        <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                                    </figure>

                </div>
            </div>

            <div id="coordinators-slide" class="slide-event">
                <figure class="snip0044 yellow">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample47" />
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 red">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample21" />
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 blue">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample47" />
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
            </div>

            <div id="dsw-slide" class="slide-event active-slide">
                <figure class="snip0044 green">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample47" />
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 yellow">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample47" />
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
                <figure class="snip0044 red">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample21" />
                    <h4>Name</h4>
                    <h6>Position</h6>
                    <div class="icons">
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="corner"><i class="fa fa-plus" style="color:white"></i></div>
                </figure>
            </div>
        </div>
    </section>

    <!--MAIN CONTENT END-->

    <!-- FOOTER STARTS -->
    <footer>
        <div class="footer-logo"><a href="index.html">Anugoonj</a></div>

        <ul class="mini-nav">
            <li><a href='/'>Home</a></li>
            <li><a href='events2.html'>Events</a></li>
            <li><a href='projects_underconstruction.html'>Schedule</a></li>
        </ul>

        <div class="Address-block">
            <h4>Address</h4>
            <p>Guru Gobind Singh Indraprastha University<br>Sector 16c, Dwarka, New Delhi - 110078 </p>
        </div>

        <div class="icon-tray">
            <h4 style="color:white">Follow Us :</h4>
            <a href="https://www.facebook.com/anugoonj2k1x/" target="_blank"><img src="images/icons/facebook.png"></a>
            <a href="https://www.instagram.com/anugoonj_official/" target="_blank"><img
                    src="images/icons/instagram.png"></Contact>
                <a href="https://www.youtube.com/channel/UCKxCKdQ_mjzeCnFDFw8jKkg" target="_blank"> <img
                        src="images/icons/youtube.png"></a>
        </div>

    </footer>
    <!-- FOOTER ENDS -->

    <script type="text/javascript" src="js/nav.js"></script>
    <script defer src="js/events.js"></script>
    <script defer src="js/lazysizes.min.js" async></script>
</body>


</html>