<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events</title>
    <link async href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link async rel="stylesheet" href="css/events2.css">
    <link rel="stylesheet" href="css/layout.css"/>
</head>

<body>

    <nav style="display: none;">
        <div class="nav-overlay"></div>
        <div class="nav-after-image"></div>
        <div class="nav-inner-content">
            <div class='cross' onclick="closeNav()">
                <div class="cross-l1"></div>
                <div class="cross-l2"></div>
            </div>
            <ul class='nav-links'>
                <li id="nav-l1"><a href="index.html">Home</a></li>
                <li id="nav-l2" class="active">Events</li>
                <li id="nav-l3"><a href="schedule page.html">Schedule</a></li>
                <li id="nav-l4"><a href="sponsors-page.html">Sponsors</a></li>
                <li id="nav-l5"><a href="FAQpage.html">FAQs</a></li>
                <li id="nav-l6"><a href="contactuspage.html">Contact Us</a></li>
            </ul>
        </div>
    </nav>

    <div id='hamburger' onclick="openNav()">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <main style="overflow-x: hidden;">
        <section class="events">
            <div class="heading dark">Event<span>s</span></div>
            <div class="slider-nav event-nav">
                <div id="dance-link" class="slide-link active-slide-link">D<span
                        style="writing-mode: vertical-lr; line-height:0.5;transform: rotate(-180deg);">ance</span></div>
                <div id="music-link" class="slide-link">M<span
                        style="display: block; text-align: center; margin-top:-20px">usic</span></div>
                <div id="workshop-link" class="slide-link">A<div style="display: inline-flex;
                    flex-direction: column;
                    transform: translate(-6px,-24px); 
                    line-height: 1;"><span style="transform:translateX(7px);
                    "></span><span>cting</span></div>
                </div>
                <div id="literary-link" class="slide-link">L<span>iterary</span></div>
                <div id="pronight-link" class="slide-link">P<div style="display: inline-flex;
                    
                    transform: translate(-25px);
                    line-height: 1;"><span style="transform:translateX(0px)">ro</span><span
                            style="transform-origin: top; writing-mode: vertical-lr; transform: rotate(-180DEG) translate(-4px,-22px);">Night</span>
                    </div>
                </div>
                <div id="misc-link" class="slide-link">M<span>isc.</span></div>
            </div>

            <div class="slider-slides">
                <div id="dance-slide" class="slide-event active-slide">
                    <!-- <div class="slide-bg-name">Dance</div> -->
                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image3.jpg">
                            <h4>Classical Dance</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image3.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Classical Dance</h1>
                                <p><i>Shastriya Nritiya</i> or Indian Classical dance is well known all over the world. Not only is Classical Dance an integral part of the rich tapestry of Indian Culture but it’s also an excellent medium of expression for depicting mythological stories and tales as old as time.</p>
                                <p>If you possess the grace, poise and skill for Classical Dance then sign up for one of the most elegant competitions organised at <i>Anugoonj</i>.</p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>


                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image3.jpg">
                            <h4>Footloose</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image3.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Footloose</h1>
                                <p><i>“To dance is to be out of yourself.  Larger, more beautiful, more powerful.”</i></p>
                                <p>If you’ve got the rhythm and the flow and a stage is all that you need, grab your clan and dance it out in one of the most entertaining and power-packed competitions of <i>Anugoonj</i>.</p>
                                <p>Set the stage on fire with your moves and energy and stand a chance of winning the coveted prize.</p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>

                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image3.jpg">
                            <h4>Street Dance</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image3.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Street Dance</h1>
                                <p><i>Always been a fan of the Step- Up movies?<br>
                                Been waiting for your chance to shine and show your love and passion for street dancing?</i></p>
                                <p>Fulfil your dream of being the best by signing up for the Street Dance competition and hip-hop your way into the hearts of the audiences and judges alike.</p>
                                <p>Set the streets ablaze and show your opponents what you’ve got. With killer moves and an un-inimitable style, step-up and take your place in this street dancing fight!</p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>

                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image3.jpg">
                            <h4>Folk Dance</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image3.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Folk Dance</h1>
                                <p>Artistic props, dashing costumes, sprightly moves and oodles of energy. Competitive dance has great value as a training tool for young dancers.Competing in a group has a different set of benefits. Although the dancers are still performing for a set of judges, they are demonstrating their ability to blend with each other in dance technique, style, and personality. This is not the time to shine as an individual but a time to display teamwork, synchronization, and a common sense of work ethic and support for each other. If your team has mentioned skill set then get ready to show off your moves this Anugoonj!!</p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>
                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image3.jpg">
                            <h4>Nach Baliye</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image3.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Nach Baliye</h1>
                                <p>If you can blend with your partner&#39;s dance technique, style and personality then you are in the right place to showcase your acquired skill set. This Anugoonj, we invite you and your dance mate to spark-up the stage with your chemistry, sync and double the energy at Nach Baliye!</p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>
                </div>


                <div id="music-slide" class="slide-event">
                    <!-- <div class="slide-bg-name">Music</div> -->
                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image3.jpg">
                            <h4>Battle Of Bands</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image3.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Battle Of Bands</h1>
                                <p><i>"Where words fail, music speaks"</i></p>
                                <p>If music is your retreat and respite from worldly troubles and you’ve got a band to back you in the battle, come showcase your talent and enthral the audience with your skills and performance in the Battle of Bands event this <i>Anugoonj</i>.
                                <br>Don’t miss out on your chance to “rock and roll” and gain acclaim and recognition!
                                </p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>

                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image2.jpg">
                            <h4>Indian Light Vocals</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image2.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Indian Light Vocals</h1>
                                <p><i>“Those who wish to sing always find a song.”</i></p>
                                <p>If you’ve got melody in your hearts and an unrelenting passion for music and singing, then get your vocal cords in form and sign up for the musically divine ‘Indian Light Vocals’ competition of Anugoonj.</p>
                                <p>Mesmerise the audience and judges with your voice and notes and stand a chance at not only winning the prize but also the hearts of your listeners!</p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>

                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image3.jpg">
                            <h4>Classical Vocal Solo</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image3.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Classical Vocal Solo</h1>
                                <p><i>Someone once said that the “pulse of India throbs in its classical music.”</i></p>
                                <p>If you are one of those who harbour a sincere devotion towards classical music and have a voice that can enchant the audiences, then practice your ‘surs’ and ‘taals’ and gear up to participate in the captivating Classical Vocal Solo competition to sing your heart out and take a step closer to becoming the next singing idol!</p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>

                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image3.jpg">
                            <h4>Group song western and Indian</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image3.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Group song western and Indian</h1>
                                <p>Music is the greatest communication in the world. Even if people don’t understand the language that you’re singing in, they still know good music when they hear it. Be it the
                                mesmerizing alaaps of Indian raagas or the scintillating harmonies of Western classics, grab the mic and pour your heart out! We give you a chance to exhibit your singing skills. We believe that language should never be a barrier in artistic expression, so the event will be conducted in both Hindi and English.</p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>

                    <div class="event">
                            <div class="event-tile">
                                <img src="images/Gallery/image3.jpg">
                                <h4>Western Vocals solo</h4>
                            </div>
                            <div class="event-details">
                                <img src="images/Gallery/image3.jpg">
                                <div class='cross event-cross'>
                                    <div class="cross-l1"></div>
                                    <div class="cross-l2"></div>
                                </div>
                                <div class="text-container">
                                    <h1>Western Vocals solo</h1>
                                    <span>Does your music have the power to leave the audience spellbound? If yes, then here’s a chance to show us what you’ve got, this event lets you revive the melody inside you and reveal the magic that resonates. We give you a chance to exhibit your singing skills.<h3>Rules</h3>
                                    <ol>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    </ol>
    
                                    <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>
                        </div>
                    </div>

                </div>



                <div id="workshop-slide" class="slide-event">
                    <!-- <div class="slide-bg-name">Workshop</div> -->
                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image3.jpg">
                            <h4>One Act Play</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image3.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>One Act Play</h1>
                                <p>If <i>“All the World’s your stage”</i> and an eternal love for theatre runs in your veins, then this is the platform for you.<br>
                                The One Act Play competition gives you the opportunity to
                                mesmerise and charm your audience within a single act and provides you with the perfect chance to hone your craft.
                                </p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>

                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image2.jpg">
                            <h4>Mono Acting</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image2.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Mono Acting</h1>
                                <p><i>Does being on stage get your heart pumping?<br>
                                Do you consider yourself a gift from the acting gods?<br>
                                Have you got what it takes to make the audience stop and stare at the brilliance of your craft?
                                </i></p>
                                <p>If yes, then we’ve got an event for you!
                                Come showcase your talent and knack for acting and drama in the
                                Mono- Acting competition at <i>Anugoonj</i>.
                                Enthral the audiences and charm the judges to cement your place as the <i>‘Next Big Thing’</i> in theatre!</p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>


                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image4.jpg">
                            <h4>Street Play</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image4.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Street Play</h1>
                                <p>The highlight of the street theatre form is that it breaks the formal barriers and approaches the people directly. This form has been used to propagate social and political messages and to create awareness amongst the people regarding social issues. So this Anugoonj unleash the power of your voice to reweave and revive the social fabric.</p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>


                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image6.jpg">
                            <h4>Event Name</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image6.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Event Name</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>


                </div>


                <div id="literary-slide" class="slide-event">
                    <!-- <div class="slide-bg-name">Literary</div> -->
                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image3.jpg">
                            <h4>Debate English</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image3.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Debate English</h1>
                                <p>If wit is your middle name and putting forward assertive opinions and arguments your forte, then we have a stage for you and your statements.<br>
                                Battle it out with your words and wisdom in the debating competition, impress the judges with your knowledge and point of views and stand a chance to bring home the glory and honour.
                                </p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>

                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image2.jpg">
                            <h4>Debate Hindi</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image2.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Debate Hindi</h1>
                                <p><i>
                                “Tu na thakega kabhi,<br>
                                Tu na thamega kabhi,<br>
                                Tu na mudega kabhi,<br>
                                Kar Shapath, Kar Shapath, Kar Shapath,<br>
                                Agneepath, Agneepath, Agneepath”
                                </i></p>
                                <p>
                                Agar shabdon se khelna Aur vad-vivaad karna aapka shauk hai Aur
                                saari latest khabron ke baare Main jaankari rakhna aapki ruchi. Toh aaiye Aur apne shabdon aur khalayon se sabka mann jeetein Aur Iss Hindi Debate pratiyogita Main apna Kaushal dikhayein….
                                </p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>


                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image4.jpg">
                            <h4>Creative Writing (English/Hindi)</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image4.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Creative Writing (English/Hindi)</h1>
                                <p><i>If writing soothes your soul and creativity pours out of every word you pen down.<br>
                                If words for you are the purest form of expression and your content mesmerises anyone who reads it.</i></p>
                                <p>Then we have the Creative Writing Competition at Anugoonj just for you!</p>
                                <p>We don’t believe in letting language come in the way of emotions and creativity, therefore the competition is conducted in both English and Hindi.</p>
                                <p>Come showcase your flair for writing and wield magic in the form of written word to impress and awe the judges and a chance to win the coveted prize!</p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>


                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image6.jpg">
                            <h4>English and Hindi Poetry</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image6.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>English and Hindi Poetry</h1>
                                <p>If you write sestinas, epigrams or just like to pen the pretty words dripping off your tongue, then this contest is for you. The event requires the participants to recite their poem to the audience and the adjudicators present. The event acts as a showcase for the young poets from across the university. We believe that language should never be a barrier in artistic expression, so the event will be conducted in both Hindi and English.</p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>

                    <div class="event">
                            <div class="event-tile">
                                <img src="images/Gallery/image6.jpg">
                                <h4>JAM (English and Hindi)</h4>
                            </div>
                            <div class="event-details">
                                <img src="images/Gallery/image6.jpg">
                                <div class='cross event-cross'>
                                    <div class="cross-l1"></div>
                                    <div class="cross-l2"></div>
                                </div>
                                <div class="text-container">
                                    <h1>JAM (English and Hindi)</h1>
                                    <p>Just-A-Minute (or JAM) is an all round-fun event that is all about the control of the mind over the mouth. Can you make it through sixty seconds of non-stop talking without hesitation, repetition, or deviation? Or will the sheer pressure make you crumble and have your competitors pounce on you in an instant? We believe that language should never be a barrier in expression of thought, so the event will be conducted in both Hindi and English.</p>
                                    <h3>Rules</h3>
                                    <ol>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    </ol>
    
                                    <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                            6:00 PM</span></div>
                                </div>
    
                            </div>
                        </div>

                </div>


                <div id="pronight-slide" class="slide-event">
                    <!-- <div class="slide-bg-name">Pro Night</div> -->
                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Benny Dayal.jpg">
                            <h4>Star Night</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Benny Dayal.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Star Night with Benny Dayal</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>

                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image5.jpg">
                            <h4>Event Name</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image5.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Event Name</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>
                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image6.jpg">
                            <h4>Event Name</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image6.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Event Name</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>

                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image2.jpg">
                            <h4>Event Name</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image2.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Event Name</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>

                </div>

                <div id="misc-slide" class="slide-event">
                    <!-- <div class="slide-bg-name">Misc</div> -->
                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image3.jpg">
                            <h4>Cartooning</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image3.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Cartooning</h1>
                                <p><i>“Cartooning is about deconstruction: you gotta tear something down to make a joke.”
                                </i></p>
                                <p>If you can send forth a subtle message with your artistic skills and build humorous caricatures to spread awareness and elicit laughter at the same time, then this is the event for you.
                                </p>
                                <p>Unleash your creativity on the canvas and fight it out to become the quirkiest and wittiest of them all.</p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>

                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image2.jpg">
                            <h4>Collage Making</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image2.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Collage Making</h1>
                                <p><i>Do you view the world around you as an intricately spread collage? Do you find art in every corner of your life?</i></p>
                                <p>If yes, then this is the competition for you creatives out there! Equip yourselves with paper clippings, newspapers, magazines, glue and your infinite imagination to create a masterpiece and further enhance your artistic skills.</p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>

                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image8.jpg">
                            <h4>Clay Modelling</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image8.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Clay Modelling</h1>
                                <p><i>Fashioning beauty out of chaos, becoming a creator and giving shape to your imagination and creativity is what clay modelling is all about.</i></p>
                                <p>It provides the creator with the opportunity to share their ideas and perceptions with the world in the form of sculptures and models.</p>
                                <p>If you’ve got the talent and the vision to create and an innate passion for art and sculpting, then sign up for the Clay Modelling event this <i>Anugoonj</i>.</p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>

                    <div class="event">
                        <div class="event-tile">
                            <img src="images/Gallery/image3.jpg">
                            <h4>Mr and Ms Anugoonj</h4>
                        </div>
                        <div class="event-details">
                            <img src="images/Gallery/image3.jpg">
                            <div class='cross event-cross'>
                                <div class="cross-l1"></div>
                                <div class="cross-l2"></div>
                            </div>
                            <div class="text-container">
                                <h1>Mr and Ms Anugoonj</h1>
                                <p>In the ultimate battle of personality, wit &amp; attitude only the best will survive. Its three rounds, introduction talent and quick fire question round. The candidates were evaluated on their <i>“poise, personality, and general appearance”</i>. If you think you have the charisma to sweep everyone off their feet and are the most well-rounded contender across the university, then the title could be yours Group song western and Indian Music is the greatest communication in the</p>
                                <h3>Rules</h3>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                </ol>

                                <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                        6:00 PM</span></div>
                            </div>

                        </div>
                    </div>

                    <div class="event">
                            <div class="event-tile">
                                <img src="images/Gallery/image8.jpg">
                                <h4>Quiz</h4>
                            </div>
                            <div class="event-details">
                                <img src="images/Gallery/image8.jpg">
                                <div class='cross event-cross'>
                                    <div class="cross-l1"></div>
                                    <div class="cross-l2"></div>
                                </div>
                                <div class="text-container">
                                    <h1>Quiz</h1>
                                    <p>If you have the chops to combine knowledge with quick thinking and enjoy the competitive thrill of a game, then this certamen for you.</p>
                                    <h3>Rules</h3>
                                    <ol>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    </ol>
    
                                    <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                            6:00 PM</span></div>
                                </div>
    
                            </div>
                        </div>

                        <div class="event">
                                <div class="event-tile">
                                    <img src="images/Gallery/image3.jpg">
                                    <h4>On the Spot Painting</h4>
                                </div>
                                <div class="event-details">
                                    <img src="images/Gallery/image3.jpg">
                                    <div class='cross event-cross'>
                                        <div class="cross-l1"></div>
                                        <div class="cross-l2"></div>
                                    </div>
                                    <div class="text-container">
                                        <h1>On the Spot Painting</h1>
                                        <p>Art is the silent and subtle expression of emotions, experiences, and thoughts. Art does not
                                        show people what to do, yet engaging with a good work of art can connect one to their senses, body, and mind. This is the place the place to showcase your finesse with the brush and create a masterpiece.</p>
                                        <h3>Rules</h3>
                                        <ol>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                            <li>Sed do eiusmod tempor incididunt ut labore et dolore magn.</li>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                        </ol>
        
                                        <div class="date-time-footer"><span>Date : 10 Feb 2020</span> <span>Time : 4:00 PM to
                                                6:00 PM</span></div>
                                    </div>
        
                                </div>
                            </div>

                </div>

            </div>
        </section>
    </main>

    <!-- FOOTER STARTS -->

    <footer>
        <div class="footer-logo"><a href="index.html">Anugoonj</a></div>

        <ul class="mini-nav">
            <li><a href='index.html'>Home</a></li>
            <li><a href='#'>Events</a></li>
            <li><a href="schedule page.html">Schedule</a></li>
        </ul>

        <div class="Address-block">
            <h4>Address</h4>
            <p>Guru Gobind Singh Indraprastha University<br>Sector 16c, Dwarka, New Delhi - 110078 </p>
        </div>

        <div class="icon-tray">
            <a href="https://www.facebook.com/anugoonj2k1x/" target="_blank"><img src="images/icons/facebook.png"></a>
            <a href="https://www.instagram.com/anugoonj_official/" target="_blank"><img
                    src="images/icons/instagram.png"></a>
            <a href="#" target="_blank"><img src="images/icons/youtube.png"></a>
        </div>
    </footer>
    <script defer src='js/nav.js'></script>
    <script defer src="js/events.js"></script>
    <script defer src="js/lazysizes.min.js" async></script>

    <!-- FOOTER ENDS -->
</body>

</html>