<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Anugoonj'20 FAQ</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/FAQpage.css" />
    <link rel="stylesheet" href="css/layout.css" />

</head>

<body onload="preloader()" style="background-color: white;">

    <nav class="pre-preloader preloader">
        <div class="nav-overlay"></div>
        <div class="nav-after-image"></div>
        <div class="nav-inner-content">
            <div class='cross' onclick="closeNav()">
                <div class="cross-l1"></div>
                <div class="cross-l2"></div>
            </div>
            <ul class='nav-links'>
                <li id="nav-l1"><a href="index.html">Home</a></li>
                <li id="nav-l2"><a href="events2.html">Events</a></li>
                <li id="nav-l3"><a href="schedule page.html">Schedule</a></li>
                <li id="nav-l4"><a href="sponsors-page.html">Sponsors</a></li>
                <li id="nav-l5" class="active"><a href="#" onclick="closeNav()">FAQs</a></li>
                <li id="nav-l6"><a href="contactuspage.html">Contact Us</a></li>
            </ul>
        </div>
        <div class="preloader-content">
            <div><span>Loading</span><span>.</span><span>.</span><span>.</span></div>
        </div>
    </nav>
    <div id='hamburger' onclick="openNav()">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="heading">FAQ<span>s</span></div>
    <div class=container>

        <div class="accordion" style='padding-bottom: 150px;' id="accordionExample">
            <!-- Question 1 -->

            <button class="btn btn-link question" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Q 1 : What kind of events are going to take place in Anugoonj?
            </button>

            <div id="collapseOne" class="answer collapse show" aria-labelledby="headingOne"
                data-parent="#accordionExample">
                Events of all type will take place in Anugoonj, starting from dancing and singing to Literary and
                Acting.
            </div>

            <!-- Question 2 -->

            <button class="btn btn-link question collapsed" type="button" data-toggle="collapse"
                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Q 2 : Who all can get entry in the fest?
            </button>

            <div id="collapseTwo" class="answer collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                Only the Studens of IP University are allowed to attend the fest and no other college students will be
                allowed inside the campus during the fest.
            </div>

            <!-- Question 3 -->

            <button class="btn btn-link question collapsed" type="button" data-toggle="collapse"
                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Q 3 : What are the things that are allowed/not allowed to take inside the campus?
            </button>

            <div id="collapseThree" class="answer collapse" aria-labelledby="headingThree"
                data-parent="#accordionExample">
                You are not allowed to take anyting inside during the fest. Each and every thing that you need will be
                available inside the campus.
            </div>

            <!-- Question 4 -->

            <button class="btn btn-link question collapsed" type="button" data-toggle="collapse"
                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Q 4 : What we have to bring for the entry in the fest?
            </button>

            <div id="collapseFour" class="answer collapse" aria-labelledby="headingFour"
                data-parent="#accordionExample">
                You have to bring your college Id to get entry inside the campus. Your Id should have your photo on it,
                if photo is not present on it or is not clearly visible, then bring an additional Id(Aadhar Card, PAN
                card) which has your photo on it.
            </div>

            <!-- Question 5 -->

            <button class="btn btn-link question collapsed" type="button" data-toggle="collapse"
                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Q 5 : What are the things that are not allowed in the collage during the fest?
            </button>

            <div id="collapseFive" class="answer collapse" aria-labelledby="headingFive"
                data-parent="#accordionExample">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>

            <!-- Question 6 -->

            <button class="btn btn-link question collapsed" type="button" data-toggle="collapse"
                data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Q 6 : Who can get entry during this fest?
            </button>

            <div id="collapseSix" class="answer collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>

            <!-- Question 7 -->

            <button class="btn btn-link question collapsed" type="button" data-toggle="collapse"
                data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Q 7 : What are the things that are not allowed in the collage during the fest?
            </button>

            <div id="collapseSeven" class="answer collapse" aria-labelledby="headingSeven"
                data-parent="#accordionExample">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>

            <!-- Question 8 -->

            <button class="btn btn-link question collapsed" type="button" data-toggle="collapse"
                data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                Q 8 : Who can get entry during this fest?
            </button>

            <div id="collapseEight" class="answer collapse" aria-labelledby="headingEight"
                data-parent="#accordionExample">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>

        </div>
    </div>

    <!-- FOOTER STARTS -->
    <footer>
        <div class="footer-logo"><a href="index.html">Anugoonj</a></div>

        <ul class="mini-nav">
            <li><a href='index.html'>Home</a></li>
            <li><a href='events2.html'>Events</a></li>
            <li><a href='schedule page.html'>Schedule</a></li>
        </ul>

        <div class="Address-block">
            <h4>Address</h4>
            <p>Guru Gobind Singh Indraprastha University<br>Sector 16c, Dwarka, New Delhi - 110078 </p>
        </div>

        <div class="icon-tray">
                <h4 style="color:white">Follow Us :</h4>
            <a href="https://www.facebook.com/anugoonj2k1x/" target="_blank"><img src="images/icons/facebook.png"></a>
            <a href="https://www.instagram.com/anugoonj_official/" target="_blank"><img
                    src="images/icons/instagram.png"></a>
            <a href="https://www.youtube.com/channel/UCKxCKdQ_mjzeCnFDFw8jKkg" target="_blank"><img src="images/icons/youtube.png"></a>
        </div>

    </footer>



    <!-- FOOTER ENDS -->
    <script src="node_modules/swup/dist/swup.min.js"></script>
    <script src="js/nav.js"></script>
</body>

</html>