<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Under Construction</title>
  <link rel="stylesheet" type="text/css" href="css/project_underconstruction.css">
  <link rel="stylesheet" href="css/layout.css" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body onload="preloader()">

  <nav class="pre-preloader preloader">
    <div class="nav-overlay"></div>
    <div class="nav-after-image"></div>
    <div class="nav-inner-content">
      <div class='cross' onclick="window.history.back()">
        <div class="cross-l1"></div>
        <div class="cross-l2"></div>
      </div>
      <ul class='nav-links' style="list-style-type: none !important;">
        <li id="nav-l1"><a href="index.html">Home</a></li>
        <li id="nav-l2"><a href="events2.html">Events</a></li>
        <li id="nav-l3"><a href="projects_underconstruction.html">Schedule</a></li>
        <li id="nav-l4"><a href="projects_underconstruction.html">Sponsors</a></li>
        <li id="nav-l5"><a href="FAQpage.html">FAQs</a></li>
        <li id="nav-l6"><a href="contactuspage.html">Contact Us</a></li>
      </ul>
    </div>
    <div class="preloader-content">
      <div><span>Loading</span><span>.</span><span>.</span><span>.</span><span>.</span></div>
    </div>
  </nav>
  <a href="#nav">
    <div id='hamburger'>
        <div></div>
        <div></div>
        <div></div>
    </div>
  </a>
  <main>
    <div class="center-content">
      <h1>Under Construc<span>tion</span></h1>
      <p>More info will be availabe soon.<br>Stay tuned!</p>
    </div>
    <div class="footer">
      <a href='/'>Home</a>
      <a href='/events2.html'>Events</a>
      <a href='/FAQpage.html'>FAQs</a>
      <a href='/contactuspage.html'>Contact us</a>
    </div>
  </main>
  <script src="js/nav.js"></script>
</body>

</html>