<!DOCTYPE html>
<html>

<head>
  <title>Anugoonj'20</title>
  <link rel="stylesheet" type="text/css" href="css/project_underconstruction.css">
  <link rel="stylesheet" type="text/css" href="css/home.css">
</head>

<body>
  <nav style="display: none;">
    <div class="nav-overlay">
    </div>
    <div class="nav-after-image">
    </div>
    <div class="nav-inner-content">
      <div class='cross' onclick="closeNav()">
        <div class="cross-l1"></div>
        <div class="cross-l2"></div>
      </div>
      <ul class='nav-links'>
        <li><a href="index1.html">HOME</a></li>
        <li><a href="projects_underconstruction.html">EVENTS</a></li>
        <li><a href="projects_underconstruction.html">SCHEDULE</a></li>
        <li><a href="projects_underconstruction.html">SPONSORS</a></li>
        <li><a href="projects_underconstruction.html">FAQ</a></li>
        <li><a href="projects_underconstruction.html">CONTACT US</a></li>
      </ul>
    </div>
    <!-- ::after -->
  </nav>

  <div class="container">
    <div class="wrapper">
      <div class="content">
        <div class="item">
          <!-- Place your content here to have it be centered vertically and horizontally  -->
          <h1>COMING SOON</h1>
          <p>This page is under construction.</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>