<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Anugoonj'20</title>
  <link rel="stylesheet" type="text/css" href="css/project_underconstruction.css">
  <link rel="stylesheet" type="text/css" href="css/home.css">
  <link rel="stylesheet" href="css/layout.css" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body onload="preloader()" style="background-color: white;">

  <nav class="pre-preloader preloader">
    <div class="nav-overlay"></div>
    <div class="nav-after-image"></div>
    <div class="nav-inner-content">
      <div class='cross' onclick="closeNav()">
        <div class="cross-l1"></div>
        <div class="cross-l2"></div>
      </div>
      <ul class='nav-links' style="list-style-type: none !important;">
        <li id="nav-l1"><a href="index.html">Home</a></li>
        <li id="nav-l2"><a href="events2.html">Events</a></li>
        <li id="nav-l3"><a href="projects_underconstruction.html">Schedule</a></li>
        <li id="nav-l4"><a href="projects_underconstruction.html">Sponsors</a></li>
        <li id="nav-l5"><a href="FAQpage.html">FAQs</a></li>
        <li id="nav-l6"><a href="contactuspage.html">Contact Us</a></li>
      </ul>
    </div>
    <div class="preloader-content">
      <div><span>Loading</span><span>.</span><span>.</span><span>.</span></div>
    </div>
  </nav>
  <div id='hamburger' onclick="openNav()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="container">
    <div class="wrapper">
      <div class="content">
        <div class="item">
          <!-- Place your content here to have it be centered vertically and horizontally  -->
          <h1>COMING SOON</h1>
          <p>This page is under construction.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="node_modules/swup/dist/swup.min.js"></script>
  <script src="js/nav.js"></script>
</body>

</html>