<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Schedule | Anugoonj 20</title>
  <!-- <link rel="stylesheet" href="trash.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/schedule page.css">
  <link rel="stylesheet" href="css/layout.css" />
  <meta name="viewport" CONTENT="width=device-width,initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body onload="preloader()">
  <!--NAV BAR STARTED-->
  <nav class="pre-preloader preloader">
    <div class="nav-overlay"></div>
    <div class="nav-after-image"></div>
    <div class="nav-inner-content">
      <div class='cross' onclick="closeNav()">
        <div class="cross-l1"></div>
        <div class="cross-l2"></div>
      </div>
      <ul class='nav-links'>
        <li id="nav-l1"><a href="/">Home</a></li>
        <li id="nav-l2"><a href="events2.html">Events</a></li>
        <li id="nav-l3" class="active">Schedule</li>
        <li id="nav-l4"><a href="sponsors-page.html">Sponsors</a></li>
        <li id="nav-l5"><a href="FAQpage.html">FAQs</a></li>
        <li id="nav-l6"><a href="contactuspage.html">Contact Us</a></li>
      </ul>
    </div>
    <div class="preloader-content">
      <div><span>Loading</span><span>.</span><span>.</span><span>.</span></div>
    </div>
  </nav>

  <div id='hamburger' onclick="openNav()">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <!--NAVEABR END-->

  <div class="heading dark">Schedul<span>e</span></div>


  <ul class="days-list-ul">
    <button class="7th day-button active">
      <span class="day-number">17</span>
      <span class="subscript" style="margin-left:-12px">th</span>
      <span class="month">FEB</span>
    </button>
    <button class="8th day-button">
      <span class="day-number">18</span>
      <span class="subscript" style="margin-left: -3px">th</span>
      <span class="month">FEB</span>
    </button>
    <button class="9th day-button">
      <span class="day-number">19</span>
      <span class="subscript" style="margin-left: -7px">th</span>
      <span class="month">FEB</span>
    </button>
  </ul>

  <div class="timing-container">
    <ul class="timing-list timing-list-7 active">
      <li class="timing-li"><span>10:00 AM</span></li>
      <li class="timing-li"><span>11:00 AM</span></li>
      <li class="timing-li"><span>12:00 PM</span></li>
      <li class="timing-li"><span>1:00 PM</span></li>
      <li class="timing-li"><span>2:00 PM</span></li>
      <li class="timing-li"><span>3:00 PM</span></li>
      <li class="timing-li"><span>4:00 PM</span></li>
      <li class="timing-li"><span>5:00 PM</span></li>
      <li class="timing-li"><span>6:00 PM</span></li>
    </ul>
    <ul class="timing-list timing-list-8">
      <li class="timing-li"><span>10:00 AM</span></li>
      <li class="timing-li"><span>11:00 AM</span></li>
      <li class="timing-li"><span>12:00 PM</span></li>
      <li class="timing-li"><span>1:00 PM</span></li>
      <li class="timing-li"><span>2:00 PM</span></li>
      <li class="timing-li"><span>3:00 PM</span></li>
      <li class="timing-li"><span>4:00 PM</span></li>
      <li class="timing-li"><span>5:00 PM</span></li>
      <li class="timing-li"><span>6:00 PM</span></li>
    </ul>
    <ul class="timing-list timing-list-9">
      <li class="timing-li"><span>10:00 AM</span></li>
      <li class="timing-li"><span>11:00 AM</span></li>
      <li class="timing-li"><span>12:00 PM</span></li>
      <li class="timing-li"><span>1:00 PM</span></li>
      <li class="timing-li"><span>2:00 PM</span></li>
      <li class="timing-li"><span>3:00 PM</span></li>
      <li class="timing-li"><span>4:00 PM</span></li>
      <li class="timing-li"><span>5:00 PM</span></li>
      <li class="timing-li"><span>6:00 PM</span></li>
    </ul>
  </div>


  <div class="7th-schedule container-schedule dragscroll" style="overflow-y: hidden;">
    <ul class="venue-header">
      <li>Main Stage</li>
      <li>Seminar D</li>
      <li>Main Stage</li>
      <li>Seminar D</li>
    </ul>

    <table cellspacing="0" cellpadding="0" class="schedule-table">
      <tr>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>

        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class="time-grid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>


  <!-- 8th kelie -->
  <div class="8th-schedule container-schedule dragscroll" style="overflow-y: hidden;">
    <ul class="venue-header">
      <li>Main Stage</li>
      <li>Seminar D</li>
      <li>Main Stage</li>
      <li>Seminar D</li>
    </ul>

    <table cellspacing="0" cellpadding="0" class="schedule-table">
      <tr>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>

        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class="time-grid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>



  <!-- 9th kelie -->
  <div class="9th-schedule container-schedule dragscroll" style="overflow-y: hidden;">
    <ul class="venue-header">
      <li>Main Stage</li>
      <li>Seminar D</li>
      <li>Main Stage</li>
      <li>Seminar D</li>
    </ul>

    <table cellspacing="0" cellpadding="0" class="schedule-table">
      <tr>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>

        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>



      </tr>
      <tr>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
        <td>
          <div class="tile">
            <div class="tile-content">
              <h4>Battle of bands</h4>
              <span>12:30 pm - 1:00 pm</span>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class="time-grid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a> -->
  <!-- <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a> -->

  <!-- FOOTER STARTS -->
  <footer>
    <div class="footer-logo"><a href="index.html">Anugoonj</a></div>

    <ul class="mini-nav">
      <li><a href='/'>Home</a></li>
      <li><a href='events2.html'>Events</a></li>
      <li><a href="#">Schedule</a></li>
    </ul>

    <div class="Address-block">
      <h4>Address</h4>
      <p>Guru Gobind Singh Indraprastha University<br>Sector 16c, Dwarka, New Delhi - 110078 </p>
    </div>

    <div class="icon-tray">
      <h4 style="color:white">Follow Us :</h4>
      <a href="https://www.facebook.com/anugoonj2k1x/" target="_blank"><img src="images/icons/facebook.png"></a>
      <a href="https://www.instagram.com/anugoonj_official/" target="_blank"><img src="images/icons/instagram.png"></a>
      <a href="https://www.youtube.com/channel/UCKxCKdQ_mjzeCnFDFw8jKkg" target="_blank"> <img
          src="images/icons/youtube.png"></a>
    </div>

  </footer>
  <!-- FOOTER ENDS -->

  <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
  <script type="text/javascript">
    // alert('stop')
    // $(".7th").fadeOut('5000')
    $(".8th-schedule").hide()
    $(".9th-schedule").hide()

    //  $(".7th").click(() => {
    //    $(".container").fadeOut('fast', () => {
    //      $(".7th-schedule").fadeIn('fast');
    //    })
    //  })
    let defaultx = {};
    let table = document.querySelectorAll(".schedule-table");
    let schedule = document.querySelectorAll(".container-schedule")
    let timeline = document.querySelectorAll(".timing-list")
    defaultx[0] = table[0].getBoundingClientRect().x

    for (let i = 0; i < 3; i++) {
      schedule[i].addEventListener("scroll", () => {
        timeline[i].style = "transform:translate(" + (table[i].getBoundingClientRect().x - defaultx[i] + 30) + "px)";
      })
    }

    $(".7th").click(() => {
      $(".day-button").removeClass("active")
      $(".timing-list").removeClass("active")
      $(".timing-list-7").addClass("active")
      $(".7th").addClass("active")
      $(".container-schedule").hide()
      $(".7th-schedule").show()

      defaultx[0] = table[0].getBoundingClientRect().x
    })
    $(".8th").click(() => {
      $(".day-button").removeClass("active")
      $(".timing-list").removeClass("active")
      $(".timing-list-8").addClass("active")
      $(".8th").addClass("active")
      $(".container-schedule").hide()
      $(".8th-schedule").show()
      defaultx[1] = table[1].getBoundingClientRect().x
    })
    $(".9th").click(() => {
      $(".day-button").removeClass("active")
      $(".timing-list").removeClass("active")
      $(".timing-list-9").addClass("active")
      $(".9th").addClass("active")
      $(".container-schedule").hide()
      $(".9th-schedule").show()
      defaultx[2] = table[2].getBoundingClientRect().x
    })
  </script>
  <script type="text/javascript" src="js/nav.js"></script>
</body>

</html>