@font-face
{
    font-family: ikaros-sans;
    src: url("..\\fonts\\Ikaros sans\\Ikaros Regular.otf");
    font-weight: normal;
}
@font-face
{
    font-family: ikaros-sans-light;
    src: url("..\\fonts\\Ikaros sans\\Ikaros Light.otf");
    font-weight: lighter;
} 
    

@font-face
{
    font-family: 'Typold Book';
    font-style: normal;
    font-weight: normal;
    src: local('Typold Book'), url('..\\fonts\\Typold\\The Northern Block Ltd - Typold Book.woff') format('woff');
}
    
   
/* Colors */

:root
{
    --pink-color : #c9108c;
    --blue-color : #3636b3;
    --background-black : #08080a;
    --dark-grey :  #393939;
    --light-grey : #cfcfcf;

}

/* Main Styles */


.heading{
  
  margin-top: 5%;
  margin-bottom: 5%;
  font-size :40px;
  color: #08080a;
  margin-left: 25px;
  font-family: 'Ikaros-sans';
  letter-spacing: 2px;
}

.heading span{
  color: #c9108c;
}


@media(min-width:900px){
  .heading
  {
    margin-left:5%;
    font-size: 55px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}


*{
  margin:0;
  padding:0;
}


.question
{
  text-align: left;
  display: block;
  color:var(--pink-color);
  font-size: 18px;
  /* font-weight: 500; */
}

.collapsed
{
  color:var(--dark-grey);
}

.question:hover, .question:focus
{
  text-decoration: none;
  color: var(--pink-color);
}
.answer
{
  margin:12px;
  font-size: 18px;
  margin-bottom: 50px;
  color:grey;
}

@media(max-width:600px)
{
  .question, .answer
  {
    font-size: unset;
  }
}
