
@import url('https://fonts.googleapis.com/css?family=Bitter:700&display=swap');

.gallery
{
    
    color: #fff;
    background-color: #111;
    height: 120vh;
    overflow: hidden;
    /* overflow-y: scroll; */
    position: relative;
    margin-top: 50px;
}

.gallery .right-btn {
    position: absolute;
    height: 100%;
    width: 800px;
    cursor: pointer;
    top: 0;
    right: 0;
}

.gallery .left-btn {
    position: absolute;
    height: 100%;
    width: 300px;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 3;
}

.gallery .right-btn:hover
{
    box-shadow: black 1px 1px 1px 1px;
}

.gallery .animate 
{
    animation: scale 1.6s ease-out;
}

@keyframes scale
{
    0%{transform: scale(1); }
    30%{transform: scale(.9); }
    70%{transform: scale(1) ;}
}

.gallery-container
{
    
    height: 100%;
    width: 400vw;
    
}

.gallery-heading
{

    font-family: bitter;
    font-size: 120px;
    position: absolute;
    font-weight: bold;
    top:40%;
    right: 20%;

}

.layer
{
    position: absolute;
    height: 100%;
    width:200vw;
    /* transition: transform 1.6s cubic-bezier(0.54, 0.44, 0, 0.99); */
    transition: transform 1.6s cubic-bezier(0.24, 0.89, 0, 0.97);
    perspective: 1000px;
    display: none;
}

.active-layer
{
    display: block;
}

.below-layer
{
    transition: transform 1.6s cubic-bezier(0.45, 0.43, 0, 0.98);
}

.layer img
{
    object-fit: cover;
    position: absolute;
    box-shadow: #00000040 0px 0px 11px 10px;
}

.layer .blank-img
{
    position: absolute;
    background-color: #2f2f2f;
    box-shadow: #00000040 0px 0px 11px 10px;
    
}

@media(max-width:600px)
{
    .gallery
    {
        height: 850px;
        margin-top: 0;
        background-color: #222;
    }

    .gallery-heading
    {
        font-size:80px;
        right: 10px;
    }
}