/* FONT FACES */
@font-face
{
    font-family: ikaros-sans;
    src: url("..\\fonts\\Ikaros sans\\Ikaros Regular.otf");
    font-weight: normal;
}
@font-face
{
    font-family: ikaros-sans-light;
    src: url("..\\fonts\\Ikaros sans\\Ikaros Light.otf");
    font-weight: lighter;
} 
    
    
@font-face
{
    font-family: 'Typold Book';
    font-style: normal;
    font-weight: normal;
    src: local('Typold Book'), url('..\\fonts\\Typold\\The Northern Block Ltd - Typold Book.woff') format('woff');
}
    

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');


/* Colors */

:root
{
    --pink-color : #c9108c;
    --blue-color : #3636b3;
    --background-black : #08080a;
    --dark-grey :  #393939;
    --light-grey : #cfcfcf;

}

/* STYLES */

/* body::-webkit-scrollbar {
    display: none;
  } */

/* NAVIGATION STYLES */

body::-webkit-scrollbar
{
  background-color: #080808;
  display: block;
}

body::-webkit-scrollbar-thumb
{
  background-color: #711b55f5;;
}

a {
  text-decoration: none;
}

.nav-inner-content ul{
    list-style-type: none;
  }
  
  nav
  {
      position: fixed;
      width: 100%;
      height: 100vh;
      z-index: 3;
      top:0;
      line-height: 1.5;
  }
  .nav-after-image, nav::after
  {
      transform-origin: right;
      position: fixed;
      height: 100%;
      margin: 0;
      top: 0;
      right: 0;
      width: 80vw;
      transform: scaleX(0);
  }
  .pre-preloader .nav-after-image, .pre-preloader nav::after
  {
    width:100vw;
  }
  nav::after
  {
      content: "";
      background-color: var(--pink-color) ;
      transition: transform .6s cubic-bezier(.535, .005, 0, 1) .2s;
      z-index: 10;  
  }
  .nav-after-image
  {
      background-color: var(--dark-grey);
      transition: transform .6s cubic-bezier(.535, .005, 0, 1) .1s;
      z-index: 11;
  }
  .nav-open .nav-after-image, .preloader .nav-after-image
  {
      transform: scaleX(1);
      transition: transform .7s cubic-bezier(.535, .005, 0, 1) .2s;
  }
  .nav-open::after, .preloader::after
  {
      transform: scaleX(1);
      transition: transform .7s cubic-bezier(.535, .005, 0, 1) .1s;
  }
  .nav-inner-content
  {
    top: 0;
    margin: 20px 20px;
    position: fixed;
    height: 100%;
    opacity: 0;
    transition: opacity .2s ease-in-out .2s; 
    z-index: 12;
    right: 0;
    text-align: right;
    width: calc(80% - 40px);
      
  }
  
  .nav-inner-content li
  {
    transform: translateY(20px);
    opacity: 0;
  }
  
  #nav-l1
  {
    transition: opacity .2s ease-in-out .3s, transform .2s ease-in-out .3s ;
  } 
  
  #nav-l2
  {
    transition: opacity .2s ease-in-out .33s, transform .2s ease-in-out .33s ;
  } 
  
  #nav-l3
  {
    transition: opacity .2s ease-in-out .36s, transform .2s ease-in-out .36s ;
  } 
  
  #nav-l4
  {
    transition: opacity .2s ease-in-out .39s, transform .2s ease-in-out .39s ;
  } 
  
  #nav-l5
  {
    transition: opacity .2s ease-in-out .42s, transform .2s ease-in-out .42s ;
  } 
  
  #nav-l6
  {
    transition: opacity .2s ease-in-out .45s, transform .2s ease-in-out .45s ;
  } 
  
  
  .nav-open .nav-inner-content li
  {
    transform: translateY(0);
    opacity: 1;
  }
  
  
  
  
  
  .nav-open .nav-inner-content
  {
      opacity: 1;
  }
  #hamburger
  {
    cursor: pointer;
    position: fixed;
    top:40px;
    right: 40px;
    padding: 10px;
    transition: all .2s ease-in ;
    z-index: 2;
  }
  #hamburger:hover
  {
    background-color: #fff1;
  }
  #hamburger > div
  {
    width: 24px;
    height: 2px;
    margin: 5px;
    background-color: var(--light-grey);
    transition: transform 200ms ease-in;
    transform-origin: left;
  }
  #hamburger:hover :nth-child(1), #hamburger:hover :nth-child(3)
  {
    transform: scaleX(1) ;
  }
  #hamburger :nth-child(1)
  {
    transform: scaleX(.8) ;
  }
  #hamburger :nth-child(3)
  {
    transform: scaleX(.7) ;
  }
  .nav-links
  {
    position: absolute;
      right: 150px;
      top: 40vh;
      font-size: 40px;
      font-family: 'Ikaros-sans';
      opacity: 0;
      transition: opacity .2s ease-in ;
      color: rgb(255, 255, 255); 
      letter-spacing: 6px;
      transform: translateY(-20%);
      margin:0;
      padding: 0;
  }
  
  .nav-overlay
  {
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-black);
    transition: opacity .7s cubic-bezier(.535, .005, 0, 1) .2s
  }
  
  .nav-open .nav-overlay
  {
    opacity: 0.7;
  }
  
  .nav-open .nav-links
  {
    opacity: 1;
  }
  .nav-links a{
    color:white;
  }
  .nav-links a:hover{
    color:#c9108c;
    transition: color .4s ease-in-out;
    text-decoration: none;
  }
  .nav-links li {
    cursor: pointer;
  }
  .nav-links  li:hover
  {
    color:var(--pink-color);
  }
   .nav-links .active{
    filter: brightness(80%);
  } 
  /* .nav-links .active:hover{
    color:#c9108c !important
  } */
  @media (max-width:700px)
  {
    .nav-after-image, nav::after
    {
      width: 100%;
    }
    .nav-links
    {
      right: 30px;
      font-size: 30px;
      font-weight: normal;
      letter-spacing: normal;
    }
    .nav-links >li
    {
      padding: 4px;
      margin: 1px;
    }
    #hamburger
    {
      top: 20px;
      right: 20px;
    }
    .nav-inner-content
    {
      width: 100%;
      margin-top: 0;
    }
  }
  .cross
  {
      width: 100px;
      height: 100px;
      text-align: center;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      opacity: 0;
      transition: opacity 300ms ease-out 600ms;
  }
  .nav-open .cross
  {
    opacity: 1;
  }
  .cross div
  {
    height: 2px;
    width: 30px;
    background-color: #fff;
  }
  .cross .cross-l1 
  {
  
    transform: rotate(45deg);
  }
  .cross .cross-l2
  {
    transform: translateY(-2px) rotate(-45deg);
  }
  .cross .cross-l1::after,  .cross .cross-l2::after
  {
      display: block;
      background-color: var(--pink-color);
      width: 30px;
      height: 2px;
      content: "";
  }
  .cross .cross-l1::after
  {
   transform-origin: right;
   transform: scaleX(0);
   transition: transform 200ms ease-in-out 200ms;
  }
  .cross .cross-l2::after
  {
   transform-origin: left;
   transform: scaleX(0);
   transition: transform 200ms ease-in-out;
  }
  .cross:hover .cross-l1::after 
  {
   transform: scaleX(1);
   transition: transform 200ms ease-in-out 200ms;
  }
  .cross:hover .cross-l2::after 
  {
   transform: scaleX(1);
  }
  @media (max-width:700px)
  {
    .cross
    {
      transform : scale(0.7) translateY(-20%);
    }
  }

/* Preloader start */

.pre-preloader .preloader-content
{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11;
  color: #d2d2d2;
  transform: translate(-50%,-50%);
  font-size: 50px;
  font-family: nexa;
  opacity: 0;
  display:flex;
  flex-direction: column;
  align-items: center;

  transition: opacity .2s ease-in;
}

.pre-preloader img
{
  width:400px;
}

.preloader .preloader-content
{
  opacity: 1;
  animation: fade-in ease-in .2s;
  /* transition: opacity .5s ease-in; */
}

@keyframes fade-in
{
  from { opacity: 0;}
  to{ opacity: 1;}
}



.preloader-content div :nth-child(2)
{
  display: inline-block;
  animation: move-up-down .6s linear alternate infinite;
}

.preloader-content div :nth-child(3)
{
  display: inline-block;
  animation: move-up-down .6s linear alternate infinite 0.3s;
}

.preloader-content div :nth-child(4)
{
  display: inline-block;
  animation: move-up-down .6s linear alternate infinite 0.6s;
}

.preloader-content div :nth-child(5)
{
  display: inline-block;
  animation: move-up-down .6s linear alternate infinite 0.9s;
}

@keyframes move-up-down
{
  from{transform : translateY(0px);color: var(--pink-color)}
  to {transform : translateY(-10px);color: var(--pink-color)
  }
}

@media(max-width:600px)
{
  .pre-preloader .preloader-content
  {
    font-size: 32px;
  }

  .pre-preloader img
  {
    width: 300px;
  }
}

/* FOOTER STARTS */
footer *{
    margin : 0;
    padding : 0;
}

footer
{
  background-color: #252527;
  color: #fff;
  padding: 50px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: roboto;
  line-height: 1.5;
}

footer p
{
  color: #cbcbcb;
}

.footer-logo
{
  font-family: 'Ikaros-sans';
  font-size: 34px;
}
.footer-logo a:hover{
  color:#c9108c
}

footer ul
{
  list-style-type: none;
  margin-top:3px;
  margin-bottom: 0;
}
footer li
{
  margin-bottom: 4px;
}

footer a
{
   color: #cbcbcb;
}
footer a:hover
{
  text-decoration: none;
  color: white;
  filter: brightness(.9);
}

footer li {
  margin-bottom: 4px;
  font-size: 15px;
}

footer h4
{
  font-weight: normal;
  font-size: 18px;
  margin-top:5px;
  margin-bottom: 8px;
}

footer p
{
  font-size:14px;
  margin-bottom: 0;

}

.icon-tray img
{
  width: 30px;
  margin: 0 10px;
}

@media(max-width:540px)
{
  footer
  { flex-direction: column;
    padding: 40px;
  }
  .footer-logo
  {
    font-size:30px;
  }

  footer > div, ul
  {
    margin-top: 20px;
    font-weight: 300;
  }
  
  footer .icon-tray
  {
    text-align: center;
    margin-top:50px;
    margin-bottom: 10px;
  }
  footer .icon-tray img
  {
    width: 25px;
  }

  .footer-logo
  {
    margin-bottom: 25px;
  }

  footer .Address-block
  {
    margin-top: 25px;
  }
}