@font-face
{
    font-family: ikaros-sans;
    src: url("..\\fonts\\Ikaros sans\\Ikaros Regular.otf");
    font-weight: normal;
}
@font-face
{
    font-family: ikaros-sans-light;
    src: url("..\\fonts\\Ikaros sans\\Ikaros Light.otf");
    font-weight: lighter;
} 
    

@font-face
{
    font-family: 'Typold Book';
    font-style: normal;
    font-weight: normal;
    src: local('Typold Book'), url('..\\fonts\\Typold\\The Northern Block Ltd - Typold Book.woff') format('woff');
}
    
   
/* Colors */

:root
{
    --pink-color : #c9108c;
    --blue-color : #3636b3;
    --background-black : #08080a;
    --dark-grey :  #393939;
    --light-grey : #cfcfcf;

}

/* MAIN STYLES */

/* Main Styles */


.heading{
  
  margin-top: 5%;
  margin-bottom: 5%;
  font-size :40px;
  color: #08080a;
  margin-left: 25px;
  font-family: 'Ikaros-sans';
  letter-spacing: 2px;
}

.heading span{
  color: #c9108c;
}


@media(min-width:900px){
  .heading
  {
    margin-left:5%;
    font-size: 55px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

*{
  margin:0;
  padding:0;
}

@media(max-width:500px)
{
  .sponsors-large{
  height:40vh; 
  width:28vw;
  margin:19px;
  margin-bottom: 34px;
  }

  .sponsors-medium{
  height:22vh; 
  width:19vw;
  margin:19px;
  margin-bottom: 34px;
  }

  .sponsors-small{
  height:16vh; 
  width:13vw;
  margin:19px;
  margin-bottom: 34px;
  }
}

@media(max-width:300px)
{
  .sponsors-large{
  height:34vh; 
  width:22vw;
  margin:16px;
  margin-bottom: 31px;
  }

  .sponsors-medium{
  height:19vh; 
  width:16vw;
  margin:16px;
  margin-bottom: 31px;
  }

  .sponsors-small{
  height:13vh; 
  width:10vw;
  margin:16px;
  margin-bottom: 31px;
  }
}

.sponsors{
  text-align:center
}

.sponsors-large{
  display: inline-block;
  height:46vh; 
  width:34vw;
  margin:25px;
  margin-bottom: 40px;
}

.sponsors-medium{
  display: inline-block;
  height:28vh; 
  width:25vw;
  margin:25px;
  margin-bottom: 40px;
}

.sponsors-small{
  display: inline-block;
  height:19vh; 
  width:16vw;
  margin:25px;
  margin-bottom: 40px;
}
